<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{profile_of.name | default("Anonymous")}} - Pxls</title>
        <link rel="stylesheet" href="/profile/css/theme-purple.min.css">
        <link rel="stylesheet" href="/fontawesome-all.min.css">
        <link rel="stylesheet" href="/profile/css/views/index.css">
        <link rel="stylesheet" href="/SLIDEIN.css">
        <script src="/jquery-3.4.1.min.js"></script>
        <script src="/profile/js/bootstrap.bundle.min.js"></script>
        <script src="/crel.min.js"></script>
        <script src="/SLIDEIN.js"></script>
        {% if requested_self %}
        {# no reason to add even more network bloat. we only need spectrum if we're modifying factions and factions are only modifiable on our own profile. #}
        <link rel="stylesheet" href="/profile/css/spectrum.css">
        <script src="/profile/js/spectrum-min.js"></script>
        {% endif %}
    </head>
    <body data-palette="{% if palette is not null %}{{palette | join(',')}}{% endif %}" data-faction-max-tag="{{max_faction_tag_length|default(99999)}}" data-faction-max-name="{{max_faction_name_length|default(99999)}}">
        <nav class="navbar navbar-dark navbar-expand-md" role="nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Pxls</a>
                </li>
                <li class="nav-item active">
                    <a href="{{route_root}}" class="nav-link">{{profile_of.name | default("Anonymous")}}'s profile</a>
                </li>
            </ul>
            {% if requesting_user is not null %}
            <div class="my-2 my-lg-0">
                <div class="dropdown">
                    <button class="navbar-text btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" id="btnNavUserDropdown">
                        <i class="fas fa-user-alt mr-1"></i>{{requesting_user.name}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" id="navUserDropdown" aria-labelledby="btnNavUserDropdown">
                        <a href="/profile?action=details" class="dropdown-item">My Profile</a>
                        <a href="/profile?action=factions" class="dropdown-item">My Factions</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </nav>
        <main role="main" class="mb-3">
            <div class="container">
                <h1>{% if profile_of.displayedFaction | default(0) > 0 %}[{{profile_of.fetchDisplayedFaction.tag}}] {% endif %}{{profile_of.name | default("Anonymous")}}'s {{a}} Profile</h1>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-group" id="tabsTriggers">
                            <a href="{{route_root}}?action=details" data-action="details" class="list-group-item text-light active">
                                <i class="fas fa-id-card mr-2 d-none d-md-inline-block"></i>Info
                            </a>
                            {% if requested_self %}
                            <a href="{{route_root}}?action=reports" class="list-group-item text-light" data-action="reports">
                                <i class="fas fa-flag mr-2 d-none d-md-inline-block"></i>Reports
                            </a>
                            <a href="{{route_root}}?action=factions" class="list-group-item text-light" data-action="factions">
                                <i class="fas fa-users mr-2 d-none d-md-inline-block"></i>Factions
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-9 tab-content mt-3 mt-md-0" id="tabsWrapper">
                        <div id="tab-details" class="tab-pane text-center active" data-tab="details">
                            {% if profile_of is null %}
                            <p class="text-warning text-center">You must be logged in to view your profile.</p>
                            {% else %}
                            <h3>{{username}}</h3>
                            <table class="inline-block">
                                <tbody>
                                    <tr>
                                        <th class="text-right pr-3">Registration Date</th>
                                        <td class="text-left">{{profile_of.signupTime | date("LLL d, y, hh:mm:s a (z)")}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-right pr-3">Alltime Pixels</th>
                                        <td class="text-left">{{profile_of.allTimePixelCount | numberformat("#,###")}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-right pr-3">Current Canvas Pixels</th>
                                        <td class="text-left">{{profile_of.pixelCount | numberformat("#,###")}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-right pr-3">Discord Tag</th>
                                        <td class="text-left">{{profile_of.discordName | default("Not Set")}}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-right pr-3">Faction</th>
                                        <td class="text-left">{% if profile_of.displayedFaction | default(0) > 0 %}[{{profile_of.fetchDisplayedFaction.tag}}] {{profile_of.fetchDisplayedFaction.name}} (ID: {{profile_of.fetchDisplayedFaction.id}}){% else %}None{% endif %}</td>
                                    </tr>
                                    {% if profile_of.isBanned() %}
                                    <tr>
                                        <th class="text-right pr-3">Canvas Ban Expiry</th>
                                        <td class="text-left">{% if profile_of.isPermaBanned() %}Never{% else %}{{profile_of.getBanExpiryTime() | date("LLL d, y, hh:mm:s a (z)")}}{% endif %}</td>
                                    </tr>
                                    {% endif %}
                                    {% if profile_of.isChatbanned() %}
                                    <tr>
                                        <th class="text-right pr-3">Chat Ban Expiry</th>
                                        <td class="text-left">{% if profile_of.isPermaChatbanned() %}Never{% else %}{{profile_of.getChatBanExpiryTime() | date("LLL d, y, hh:mm:s a (z)")}}{% endif %}</td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <div class="d-block mt-4">
                                View rankings and other stats <a href="/stats">here</a>.
                            </div>
                            {% endif %}
                        </div>
                        {% if requested_self %}
                        <div id="tab-reports" class="tab-pane" data-tab="reports">
                            {% if profile_of is null %}
                            <p class="text-warning text-center">You must be logged in to view your reports.</p>
                            {% else %}
                            <h3 class="text-center">Reports</h3>
                            <div class="card collapseable mb-2">
                                <div class="card-header">
                                    <button class="btn btn-sm mr-2 btn-info" data-action="collapse"><i class="fas fa-chevron-down"></i></button>
                                    <span class="text-info">Canvas Reports ({{canvas_reports_open_count}}/{{canvas_reports|length}} open)</span>
                                </div>
                                <div class="card-body p-0 body-collapse-target collapse">
                                    <div class="p-3">
                                        {% for report in canvas_reports %}
                                        <div class="card collapseable mb-2">
                                            <div class="card-header">
                                                <button class="btn btn-sm mr-2 btn-info" data-action="collapse"><i class="fas fa-chevron-down"></i></button>
                                                <span class="{% if report.closed %}text-success{% else %}text-warning{% endif %}">Report on {{ report.reportedName }} ({% if report.closed %}closed{% else %}open{% endif %})</span>
                                            </div>
                                            <div class="card-body p-0 body-collapse-target collapse">
                                                <div class="p-3">
                                                    <h6>Reported {{report.reportedName}} on {{(report.time*1000)|date("LLL d, y, hh:m:s a (z)")}}</h6>
                                                    <p>{{report.message}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <p>There are no canvas reports to show.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="card collapseable mb-2">
                                <div class="card-header">
                                    <button class="btn btn-sm mr-2 btn-info" data-action="collapse"><i class="fas fa-chevron-down"></i></button>
                                    <span class="text-info">Chat Reports ({{chat_reports_open_count}}/{{chat_reports|length}} open)</span>
                                </div>
                                <div class="card-body p-0 body-collapse-target collapse">
                                    <div class="p-3">
                                        {% for report in chat_reports %}
                                        <div class="card collapseable mb-2">
                                            <div class="card-header">
                                                <button class="btn btn-sm mr-2 btn-info" data-action="collapse"><i class="fas fa-chevron-down"></i></button>
                                                <span class="{% if report.closed %}text-success{% else %}text-warning{% endif %}">Report on {{ report.reportedName }} ({% if report.closed %}closed{% else %}open{% endif %})</span>
                                            </div>
                                            <div class="card-body p-0 body-collapse-target collapse">
                                                <div class="p-3">
                                                    <h6>Reported {{report.reportedName}} on {{(report.time*1000)|date("LLL d, y, h:mm:s a (z)")}}</h6>
                                                    <p>{{report.report_message}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <p>There are no chat reports to show.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div id="tab-factions" class="tab-pane" data-tab="factions">
                            {% if profile_of is null %}
                            <p class="text-center text-warning">You must be logged in to manage your factions.</p>
                            {% else %}
                            {% if profile_of.isFactionRestricted or profile_of.isBanned %}
                            <small class="text-danger m-0 p-0 d-block">You are {% if profile_of.isFactionRestricted %}faction restricted{% else %}canvas banned{% endif %} and cannot create new factions. If you believe this is an error, please contact a moderator.</small>
                            {% endif %}
                            {% if (new_fac_min_pixels|default(0)) > requesting_user_alltime_pixels %}
                            <small class="text-warning m-0 p-0 d-block">You must have at least {{new_fac_min_pixels|default(0)}} all-time pixels to create a faction.</small>
                            {% endif %}
                            <div class="mb-2">
                                <button class="btn btn-success btn-sm mr-1 global-faction-action" data-action="factionCreate" {% if ((new_fac_min_pixels|default(0)) > requesting_user_alltime_pixels) or (profile_of.isFactionRestricted) %}disabled="disabled"{% endif %}><i class="fas fa-plus"></i> Create</button>
                                <button class="btn btn-primary btn-sm mr-1 global-faction-action" data-toggle="modal" data-target="#modal-faction-search"><i class="fas fa-user-plus"></i> Join</button>
                            </div>
                            {% if factions|length > 0 %}
                            {% for faction in factions %}
                            <div class="media mb-2 faction-media" data-faction-id="{{faction.id}}" data-faction-name="{{faction.name}}" data-faction-tag="{{faction.tag}}" data-faction-color="{{faction.color|default(0)}}">
                                <span class="media-text-icon mr-3">[{{faction.tag}}]</span>
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">{% if profile_of.displayedFaction|default(-1) == faction.id %} <i class="fas fa-eye mr-1 text-success" style="font-size: 0.75em;" title="This is your currently displayed faction."></i>{% endif %}{{faction.name}} (members: {{faction.fetchMembers|length}}, ID: {{faction.id}})</h5>
                                    <div class="mb-1 mt-2">
                                        <span class="text-muted">Owner: {{faction.fetchOwner.name}}</span>
                                    </div>
                                    <div>
                                        {% if profile_of.displayedFaction|default(-1) == faction.id %}
                                        <button class="btn btn-info btn-sm mr-1 mt-1 faction-action" data-action="factionRemoveDisplayed"><i class="fas fa-minus mr-1"></i>Remove Displayed</button>
                                        {% else %}
                                        <button class="btn btn-info btn-sm mr-1 mt-1 faction-action" data-action="factionSetDisplayed"><i class="fas fa-check mr-1"></i>Set Displayed</button>
                                        {% endif %}
                                        {% if faction.owner == profile_of.id %}
                                        <button class="btn btn-info btn-sm mr-1 mt-1 faction-action" data-action="factionMembers" data-toggle="modal" data-target="#modal-member-list-{{faction.id}}"><i class="fas fa-users mr-1"></i>Members</button>
                                        <button class="btn btn-info btn-sm mr-1 mt-1 faction-action" data-action="factionEdit"><i class="fas fa-pencil-alt mr-1"></i>Edit</button>
                                        <button class="btn btn-danger btn-sm mr-1 mt-1 faction-action" data-action="factionDelete"><i class="fas fa-times mr-1"></i>Delete</button>
                                        {% else %}
                                        <button class="btn btn-danger btn-sm mr-1 mt-1 faction-action" data-action="factionLeave"><i class="fas fa-sign-out-alt mr-1"></i>Leave</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p class="text-center text-warning">You are not in any factions yet!</p>
                            {% endif %}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
        {% if requested_self %}
        {% for faction in factions %}
        {% if faction.owner == profile_of.id %}
        <div class="modal fade member-list-modal" id="modal-member-list-{{faction.id}}" data-faction-id="{{faction.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Members of {{faction.name}} ([{{faction.tag}}])</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card collapseable mb-2">
                            <div class="card-header">
                                <button class="btn btn-sm mr-2 btn-info" data-action="collapse"><i class="fas fa-chevron-down"></i></button>
                                <span class="text-info">Faction Members</span>
                            </div>
                            <div class="card-body p-0 body-collapse-target collapse">
                                <div class="p-3">
                                    {# This loop only fires when on our own profile. We can't leave a faction we own, we can only transfer ownership, so no point in showing ourselves in the member list. #}
                                    {# since we can't leave the faction until we transfer, if there's only one member in the list it's assumed to be the owner. we don't want to show ourself in the list #}
                                    {% if faction.fetchMembers|length > 1 %}
                                    {% for member in faction.fetchMembers %}
                                    {% if member.id != profile_of.id %}
                                    <div class="row member-row mb-1" data-member="{{member.name}}">
                                        <div class="col-md-6">
                                            <span><a href="/profile/{{member.name}}" target="_blank">{{member.name}}</a></span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-sm btn-success faction-subaction" data-action="transfer">Transfer Ownership</button>
                                            <button class="btn btn-sm btn-danger faction-subaction" data-action="ban">Ban</button>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    <p class="text-muted text-center mb-0">Nothing to see here!</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card collapseable mb-2">
                            <div class="card-header">
                                <button class="btn btn-sm mr-2 btn-info" data-action="collapse"><i class="fas fa-chevron-down"></i></button>
                                <span class="text-info">Faction Bans</span>
                            </div>
                            <div class="card-body p-0 body-collapse-target collapse">
                                <div class="p-3">
                                    {% for member in faction.fetchBans %}
                                    <div class="row member-row mb-1" data-member="{{member.name}}">
                                        <div class="col-md-6">
                                            <span>{{member.name}}</span>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="btn btn-sm btn-primary faction-subaction" data-action="unban">Unban</button>
                                        </div>
                                    </div>
                                    {% else %}
                                    <p class="text-muted text-center mb-0">Nothing to see here!</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="modal fade" id="modal-faction-search" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Find A Faction</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="#" class="form" id="frmFactionSearch">
                            <div class="form-group">
                                <div class="input-group flex-nowrap">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="txtFactionSearch">Search:</label>
                                    </div>
                                    <input type="text" class="form-control" autocomplete="disabled" id="txtFactionSearch" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-info" type="submit" id="btnFactionSearch"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div id="searchTarget" class="m-0 px-0 py-2">
                            <p class="text-muted text-center">Enter a search term to get started.</p>
                        </div>
                        <button class="btn btn-block btn-sm btn-secondary d-none" id="btnFactionSearchLoadMore">Load More</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/profile/js/views/root.js"></script>
        <script src="/profile/js/views/profile.js"></script>
    </body>
</html>
