{
  "extends": "semistandard",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-console": ["error", {"allow": ["info", "warn", "error", "debug", "trace"]}],
    "space-before-function-paren": "off"
  },
  "ignorePatterns": ["*.min.js"],
  "globals": {
    // Third-party libraries
    "$": "readonly",
    "crel": "readonly",
    "moment": "readonly",
    "EmojiButton": "readonly",
    "pxlsMarkdown": "readonly",
    "grecaptcha": "readonly",
    "twemoji": "readonly",
    // Pxls-specific
    "App": "writable",
    "SLIDEIN": "readonly",
    "interact": "readonly"
  }
}
