*.iml
.idea/
.gradle/
target/
run/
*.log
backups/
.settings/
.classpath
.project
board.dat
default_board.dat
heatmap.dat
virginmap.dat
placemap.dat
pxls.conf
roles.conf
palette.conf
index_cache.html
TODO
*-canvas-*/
__pycache__
extras/reset/checklist.py
/.vs/Pxls/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
node/
node_modules/
