.dropdown-toggle::after {
    vertical-align: initial;
}

.media-text-icon {
    width: 64px;
    height: 64px;
    line-height: 64px;
    border-radius: 128px;
    font-size: 1rem;
    text-align: center;
    background-color: #eee1;
    box-shadow: #2226 0 0 5px;
    color: #eee;
    transition: background-color 100ms ease-in;
    user-select: none;
    cursor: default;
    overflow: hidden;
}

.media:hover .media-text-icon {
    box-shadow: #222b 0 0 7px;
    background-color: #eee3;
    color: #fff;
}

.sp-purple.sp-container {
    background-color: #341C42;
    border: solid 1px #291634;
    border-radius: 0 0 6px 6px;
}

.sp-purple.sp-replacer {
    border: solid 1px #291634;
    background: #341C42;
    color: #ddd;
    vertical-align: middle;
}

.sp-replacer:hover, .sp-replacer.sp-active {
    border-color: #3d1848;
    color: #fff;
}

.sp-replacer.sp-active {
    border-bottom-width: 0;
    border-bottom-color: transparent;;
}

.sp-replacer.sp-disabled {
    border-color: silver;
    color: silver;
}

.sp-purple .sp-preview {
    border: solid 1px #000;
}

.sp-purple .sp-cancel {
    color: #f99f9f !important;
}

.sp-purple .sp-input {
    color: #ddd;
}

.sp-purple.sp-replacer:hover, .sp-purple.sp-replacer.sp-active {
    border-color: #291634;
    color: #ddd;
}

.sp-purple .sp-palette-container, .sp-purple .sp-picker-container {
    border-color: #291634;
}

.sp-purple .sp-palette .sp-thumb-el {
    border: 1px solid #2a2a2a;
}

.sp-purple .sp-palette .sp-thumb-el:hover {
    border: 1px solid #000;
}

.sp-purple input.sp-input {
    background-color: #2d0c39;
    border: 1px solid #291634;
    border-radius: .25rem;
    color: #ccc;
}

.break {
    word-break: break-all;
}

.table-border-between tbody tr {
    border-top: 1px solid #919191aa;
}