html {
    --general-text-color: #fff;
    --general-background: #000;
    
    --kbd-background: #444;
    --kbd-border-color: #333;
    --kbd-text-color: #fff;
    
    --button-background: #000;
    --button-text-color: #fff;
    --button-border-color-hover: transparent;
    --button-background-hover: #252525;
    
    --bubble-background: #000;
    
    --floating-panel-text-color: #fff;
    --floating-panel-border-color: #222;
    --floating-panel-background: #000;
    
    --dangerous-button-background: #d00;
    --dangerous-button-background-hover: #d50000;
    --dangerous-button-border-color: var(--dangerous-button-background);
    
    --palette-background: #000;
    --palette-overlay-background: #000;
    --palette-overlay-text-color: #eee;
    --palette-deselect-button-color: #c00;
    
    --undo-background: #000;
    --undo-text-color: #fff;
    
    --input-text-color: #fff;
    --input-background: #111;
    --input-border-color: #2f2f2f;
    
    --text-red-color: #f00;
    --text-yellow-color: #ee0;
    
    --panel-header-background: #222;
    --panel-background: #000;
    --panel-text-color: #fff;
    --panel-close-button-color: #f00;
    --panel-footer-background: #252525;
    --panel-footer-text-color: #999;
    
    --chat-separator-color:#2f2f2f;
    --chat-odd-background:#111;
    --chat-server-action-text-color:#ccc;
    --chat-user-text-shadow-color: #111;
    
    --panel-trigger-outline-color: #666;
    
    --ping-highlight-color: #5b5345;
    --ping-flash-color: #2c5445;
    
    --emoji-picker-border-color: #383838;
    --emoji-picker-shadow-color: #111;
    --emoji-picker-background: #000;
    --emoji-picker-preview-name-text-color: #fff;
    --emoji-picker-tab-icon-color: #fff;
    --emoji-picker-tab-icon-color-selected: #6fd1ff;
    --emoji-picker-section-text-color: #fff;
    --emoji-picker-emoji-color: #fff;
    --emoji-picker-emoji-background: transparent;
    --emoji-picker-emoji-background-hover: #656565;
    --emoji-picker-search-input-border-color: #2f2f2f;
    --emoji-picker-search-input-background: #111;
    --emoji-picker-search-input-text-color: #fff;
    --emoji-picker-search-icon-color: #bbb;
    --emoji-picker-search-no-results-color: #bbb;
    --emoji-picker-variant-overlay-background: rgba(0, 0, 0, 0.7);
    --emoji-picker-variant-popup-background: #222;
    --emoji-picker-variant-close-button-color: #fff;
    
    --chat-typeahead-menu-background: #000;
    --chat-typeahead-item-text-color: #fff;
    --chat-typeahead-item-background: #1a1a1a;
    --chat-typeahead-item-background-hover: #2b2b2b;
    --chat-typeahead-item-background-active: #3b3b3b;

    --notification-expiry-color: #c45454;
}


.message {
    border: 2px solid #333;
}

hr {
    border: none;
    border-top: 1px solid #000;
}

@keyframes -scrolled-flash {
    from {
        background: #3d382e;
    }
    to {
        background: #2c5445;
    }
}
