html {
    --general-text-color: #fff;
    --general-background-color: #000;
    
    --kbd-background-color: #444;
    --kbd-border-color: #333;
    --kbd-text-color: #fff;
    
    --message-background-color: #000;
    --message-text-color: #fff;
    
    --button-background-color: #000;
    --button-text-color: #fff;
    --button-border-color-hover: transparent;
    --button-background-color-hover: #252525;
    
    --bubble-background-color: #000;
    
    --floating-panel-text-color: #fff;
    --floating-panel-border-color: #222;
    --floating-panel-background-color: #000;
    
    --report-button-background-color: #d00;
    --report-button-background-color-hover: #d50000;
    
    --palette-background-color: #000;
    --palette-overlay-background-color: #000;
    --palette-overlay-text-color: #eee;
    --palette-deselect-button-color: #c00;
    
    --undo-background: #000;
    --undo-text-color: #fff;
    
    --input-text-color: #fff;
    --input-background-color: #111;
    --input-border-color: #2f2f2f;
    
    --text-red-color: #f00;
    --text-yellow-color: #ee0;
    
    --panel-header-background: #222;
    --panel-background-color: #000;
    --panel-text-color: #fff;
    
    --option-bubble-position-background-color-selected: #fff;
    
    --chat-separator-color:#2f2f2f;
    --chat-odd-background-color:#111;
    --chat-server-action-text-color:#ccc;
    --chat-user-text-shadow-color: #111;
    
    --mod-lookup-chatban-history-item-background-color: #000;
    --mod-lookup-chatban-history-item-border-color: #464646;
    --mod-lookup-chatban-history-item-heading-background-color: #46464633;
    
    --popup-background-color: #111;
    --popup-text-color: #fff;
    --pane-button-background: linear-gradient(0,#111,#1f1f1f,#111);
    --pane-button-background-hover: linear-gradient(0,#000,#111,#000);
    
    --panel-trigger-outline-color: #666;
    
    --ping-highlight-color: #5b5345;
    --ping-flash-color: #2c5445;
    
    --emoji-picker-border-color: #383838;
    --emoji-picker-shadow-color: #111;
    --emoji-picker-background-color: #000;
    --emoji-picker-preview-name-text-color: #fff;
    --emoji-picker-tab-icon-color: #fff;
    --emoji-picker-tab-icon-color-selected: #6fd1ff;
    --emoji-picker-section-text-color: #fff;
    --emoji-picker-emoji-color: #fff;
    --emoji-picker-emoji-background: transparent;
    --emoji-picker-emoji-background-hover: #656565;
    --emoji-picker-emoji-search-input-border-color: #2f2f2f;
    --emoji-picker-emoji-search-input-background-color: #111;
    --emoji-picker-emoji-search-input-text-color: #fff;
    --emoji-picker-search-icon-color: #bbb;
    --emoji-picker-search-no-results-color: #bbb;
    --emoji-picker-variant-overlay-background: rgba(0, 0, 0, 0.7);
    --emoji-picker-variant-popup-background: #222;
    --emoji-picker-variant-close-button-color: #fff;
    
    --chat-typeahead-menu-background-color: #000;
    --chat-typeahead-item-text-color: #fff;
    --chat-typeahead-item-background-color: #1a1a1a;
    --chat-typeahead-item-background-color-hover: #2b2b2b;
    --chat-typeahead-item-background-color-active: #3b3b3b;
        
    --notification-background-color: #191919;
    --notification-border-color: #111111;
    --notification-footer-text-color: #999;
    --notification-title-background-color: #232323;
    --notification-footer-background-color: #252525;
    --notification-expiry-color: #c45454;
    
    --modal-text-color: #ddd;
    --modal-background-color: #1a1a1a;
    --modal-headfoot-background-color: #000000;
}


.message {
    border: 2px solid #333;
}

#lookup .report-button {
    border: 1px solid var(--report-button-background-color);
}

hr {
    border: none;
    border-top: 1px solid #000;
}

@keyframes -scrolled-flash {
    from {
        background-color: #3d382e;
    }
    to {
        background-color: #2c5445;
    }
}
