/*
z-index:
 0 - canvas
 1 - grid
 2 - reticule
 3 - template
 6 - palette
 7 - timer
 8 - login overlay
 9 - ui blobs
10 - admin boxes
18 - controls header

21 - panels
22 - lookup, emoji-picker
22 - admin-check popup

30 - emoji picker

98 - lost connection
99 - alert box
100 - drag and drop
*/

/*//////////////////////////*\
| Themeing
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

html {
    --general-text-color: #000;
    --general-background: #c5c5c5;

    --kbd-background: #eee;
    --kbd-border-color: #ddd;
    --kbd-text-color: black;

    --button-background: #ddd;
    --button-border-color: #999;
    --button-text-color: #000;
    --button-text-color-disabled: #555;
    --button-border-color-disabled: #777;
    --button-background-disabled: #aaa;
    --button-text-color-hover: #fff;
    --button-border-color-hover: #999;
    --button-background-hover: #ce4747;

    --dangerous-button-text-color: #fff;
    --dangerous-button-background: #e20;
    --dangerous-button-border-color: unset;
    --dangerous-button-text-color-hover: var(--dangerous-button-text-color);
    --dangerous-button-background-hover: #f10;
    --dangerous-button-border-color-hover: var(--dangerous-button-border-color);

    --floating-panel-text-color: inherit;
    --floating-panel-border-color: #ccc;
    --floating-panel-background: #eee;

    --bubble-background: rgba(0, 0, 0, 0.7);
    --bubble-text-color: #fff;

    --palette-background: rgba(255, 255, 255, 0.8);
    --palette-item-border-color: black;
    --palette-overlay-background: rgba(255, 255, 255, 0.9);
    --palette-overlay-text-color: #000;
    --palette-deselect-button-color: inherit;
    --palette-number-text-color: #000;
    --palette-number-background-color: #fff;

    --cursor-text-color: #000;
    --cursor-text-background-color: #fff;

    --selection-color: unset;
    --selection-background-color: unset;
    /*
        use this in desired theme:
        ::selection {
            color: var(--selection-color);
            background-color: var(--selection-background-color);
        }
    */

    --undo-text-color: #000;
    --undo-background: linear-gradient(to top, #FFFC, #FFF);
    --undo-border-color: #000;

    --input-text-color: #000;
    --input-background: #fff;
    --input-border-color: #ccc;
    --input-placeholder-text-color: #666;

    --text-blue-color:#00a;
    --text-green-color:#0a0;
    --text-red-color:#a00;
    --text-muted-color:#8c8c8c;
    --text-yellow-color:#f0ff27;
    --text-orange-color:#e67700;

    --copypulse-color: rgba(0, 211, 221, 0.7);
    --error-color: #cc3333;
    --notification-color: #b20;
    --ping-highlight-color: #feedd1;
    --ping-flash-color: #8ef7d1;
    --ping-counter-color: #ffa500;
    --notification-expiry-color: #b66;

    --panel-background: #dfdfdf;
    --panel-text-color: inherit;
    --panel-border-color: #000;
    --panel-header-text-color: inherit;
    --panel-header-background: linear-gradient(to bottom, #ccc, #bbb);
    --panel-footer-text-color: #666;
    --panel-footer-background: #d6d6d6;
    --panel-close-button-color: #a00;
    --panel-close-button-color-hover: var(--panel-close-button-color);
    --panel-close-button-color-active: var(--panel-close-button-color);

    --panel-article-background: #0002;
    --panel-article-text-color: var(--panel-text-color);
    --panel-article-border-color: var(--panel-border-color);
    --panel-article-header-text-color: inherit;
    --panel-article-header-background: var(--panel-header-background);
    --panel-article-footer-text-color: var(--panel-footer-text-color);
    --panel-article-footer-background: var(--panel-footer-background);

    --panel-trigger-outline-color: #AAA;

    --chat-separator-color: #bfbfbf;
    --chat-odd-background: #d5d5d5;
    --chat-abbr-underline-color: #aaa;
    --chat-badge-background: #ccc;
    --chat-badge-text-color: #770;
    --chat-mention-text-color: #800080;
    --chat-server-action-text-color: #555;
    --chat-user-text-shadow-color: #ccc;
    --chat-purged-text-color: #888;
    --chat-shadowbanned-text-color: #F66;

    --chat-tobottom-text-color: #fff;
    --chat-tobottom-background: #66a;
    --chat-tobottom-text-color-hover: var(--chat-tobottom-text-color);
    --chat-tobottom-background-hover: #5c5ca0;

    --chat-typeahead-menu-background: #b9b9b9;
    --chat-typeahead-item-text-color: inherit;
    --chat-typeahead-item-background: #a3a3a3;
    --chat-typeahead-item-background-hover: #949494;
    --chat-typeahead-item-background-active: #828282;

    --emoji-picker-border-color: #CCCCCC;
    --emoji-picker-background: #FFFFFF;
    --emoji-picker-preview-name-text-color: #000000;
    --emoji-picker-tab-icon-color: #666666;
    --emoji-picker-tab-icon-color-selected: #4F81E5;
    --emoji-picker-section-text-color: #333333;
    --emoji-picker-emoji-background-hover: #E8F4F9;
    --emoji-picker-search-input-border-color: #CCCCCC;
    --emoji-picker-search-input-border-color-focus: #4F81E5;
    --emoji-picker-search-input-background: #fff;
    --emoji-picker-search-input-text-color: #000;
    --emoji-picker-search-icon-color: #CCCCCC;
    --emoji-picker-search-no-results-color: #666666;
    --emoji-picker-variant-overlay-background: rgba(0, 0, 0, 0.8);
    --emoji-picker-variant-popup-background: #FFFFFF;
}

/*//////////////////////////*\
| General Styles
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--general-text-color);
    background: var(--general-background);
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-clear {
    clear: both !important;
}

.hidden {
    display: none !important;
}

.fullwidth {
    width: 100%;
}

a, a:hover, a:visited, a:active, .link, .link:hover, .link:active {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

kbd {
    background: var(--kbd-background);
    border: 1px solid var(--kbd-border-color);
    border-radius: 4px;
    color: var(--kbd-text-color);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    margin: 0 .1em .1em .1em;
    padding: .1em .7em;
    text-indent: 0;
    cursor: default;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

img.emoji.emoji--custom {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
}

.fake-indent {
    margin-left:1.2rem;
}

.d-block {
    display: block !important;
}

#settings-search-input {
  margin: 0.5em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 110%;
}

label.extra-label {
    display: block;
    margin-top: .25em;
    margin-bottom: .5em;
    text-indent: 1em;
}

input:disabled, button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

input[type="text"], input[type="search"], input[type="number"], textarea, select {
    padding: 0.5em;
    border: 1px solid var(--input-border-color);
    background: var(--input-background);
    color: var(--input-text-color);
}

input.small-input {
    width: 6em;
}

.input-group > * {
    vertical-align: middle;
}

/* NOTE (Flying): Does not work grouped together. */
input[type="text"]::placeholder {
    color: var(--input-placeholder-text-color);
}
input[type="search"]::placeholder {
    color: var(--input-placeholder-text-color);
}
input[type="number"]::placeholder {
    color: var(--input-placeholder-text-color);
}
textarea::placeholder {
    color: var(--input-placeholder-text-color);
}
select::placeholder {
    color: var(--input-placeholder-text-color);
}

button {
    cursor: pointer;
    display: inline-block;
    color: inherit;
    background: transparent;
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1.1em;
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

button.text-button {
    margin-top: 6px;
    margin-right: 4.5px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid var(--button-border-color);
    padding: 5px 10px;
    border-radius: 3px;
    background: var(--button-background);
    color: var(--button-text-color);
}

button.text-button:disabled {
    border: 1px solid var(--button-border-color-disabled);
    background: var(--button-background-disabled);
    color: var(--button-text-color-disabled);
}

button.text-button:hover {
    color: var(--button-text-color-hover);
    background: var(--button-background-hover);
    border-color: var(--button-border-color-hover);
}

button.dangerous-button {
    background: var(--dangerous-button-background);
    color: var(--dangerous-button-text-color);
    border-color: var(--dangerous-button-border-color);
}

button.dangerous-button:hover {
    color: var(--dangerous-button-text-color-hover);
    background: var(--dangerous-button-background-hover);
    border-color: var(--dangerous-button-border-color-hover);
}

dt:not(:first-of-type) {
    margin-top: 1rem;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
}

@keyframes rainbow-move {
    0% {
        background-position: 5px 0%;
    }
    100% {
        background-position: -500px 0%;
    }
}

.checkerboard-background {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAVSURBVBhXY1i/fv39+/cZgfjChQsAQicJuS/hrEUAAAAASUVORK5CYII=');
    background-size: cover;
}

.rainbow {
    background-image: linear-gradient(45deg, violet, #308dff, cyan, green, yellow, orange, red, orange, yellow, green, cyan, #308dff, violet, violet);
    background-size: 500px 100%;
    animation: rainbow-move 4s linear 1ms infinite;
    transform: rotateZ(360deg); /* force rendering onto GPU if available */
}

@keyframes donator-move {
    0% {
        background-position: 5px 0%;
    }
    100% {
        background-position: -500px 0%;
    }
}

.donator {
    background-size: 500px 100%;
    animation: donator-move 4s linear 1ms infinite;
    transform: rotateZ(360deg); /* force rendering onto GPU if available */
}
.donator.donator--green {
    background-image: linear-gradient(45deg, #94E044, #02BE01 25%, #005F00 50%, #02BE01 75%, #94E044 90%);
}
.donator.donator--gray {
    background-image: linear-gradient(45deg, hsl(0, 0%, 42.5%) 0, hsl(0, 0%, 63.5%) 50%, hsl(0, 0%, 42.5%) 100%);
}

.donator.donator--synthwave{
    background-image: linear-gradient(90deg, #ff00ff, #af94fc,#0ff ,#7544ff, #ff00ff);
}
.donator.donator--ace{
    background-image: linear-gradient(45deg, #000000, #a3a3a3, #ffffff ,#800080, #000000, #000000);
}
.donator.donator--trans{
    background-image: linear-gradient(45deg, #5ecff8, #f4abb8, #ffffff, #f4abb8, #5ecff8, #5ecff8);
}
.donator.donator--bi{
    background-image: linear-gradient(45deg, #d60370, #9a4f94, #0038a7, #d60370, #d60370);
}
.donator.donator--pan{
    background-image: linear-gradient(45deg, #fe218b, #fed700, #21b0fe, #fe218b, #fe218b);
}
.donator.donator--nonbinary{
    background-image: linear-gradient(45deg, #fff45f, #ffffff, #9c59d1, #000000, #fff45f, #fff45f);
}

.donator.donator--mines{
    background-image: linear-gradient(90deg, #fffa00, #fcc200, #8f4a16, #b46e30, #8f4a16, #ffba00, #fff000);
}
.donator.donator--eggplant{
    background-image: linear-gradient(45deg, #5e8c31, #507d2a, #8e4585, #8e4585, #8e4585, #702963, #8b4789, #8b4789, #5e8c31);
}
.donator.donator--banana{
    background-image: linear-gradient(80deg, #fef9d3, #fdf3a7, #ffff99, #ffff31, #ffe135, #7e5126, #ffe135, #ffff31, #ffff99, #fdf3a7, #fef9d3);
}
.donator.donator--teal{
    background-image: linear-gradient(45deg, #277e6c, #32b69f, #88fff3, #32b69f, #277e6c);
}

.error {
    color: var(--error-color);
    font-weight: 700;
}

.no-border {
    border: none !important;
}

.halves {
    display: flex;
    flex-wrap: wrap;
    min-width: 50vw;
}

.halves .side {
    flex: 1 0 50%;
}

.chat-lookup-side {
    max-height: calc(88vh - 30px);
    overflow: auto;
}

.no-p-margin p {
    margin: 0 !important;
}

/*//////////////////////////*\
| Overlays
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#reconnecting {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100vw;
    background: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-weight: 800;
    color: #fff;
    font-size: 25px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444;
    z-index: 999;
}

#loading span {
    text-align: center;
    font-size: 36px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#prompt, #signup {
    z-index: 99;
}

#signup-discord-input {
    display: block;
    width: 100%;
    margin-top: 5px;
}

/* body preselector is to give more precident to .message than to .floating-panel */
body .message {
    max-width: 40%;
    z-index: 22;

    position: fixed;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.floating-panel {
    border-radius: 8px;
    border: 1px solid var(--floating-panel-border-color);
    background: var(--floating-panel-background);
    color: var(--floating-panel-text-color);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 16px;
    max-width: 320px;
    word-wrap: break-word;
}

.floating-panel .content {
    margin-bottom: 5px;
}

.floating-panel .content > div:not(:first-of-type) {
    margin-top: 5px;
}

#lookup {
    position: fixed;
    top: 50px;
    right: 16px;
    z-index: 22;
}

/* moderator action popup styles */
.chatmod-container th {
    text-align: right;
    margin-right: .25rem;
}

.chatmod-container th[title] {
    border-bottom: 1px dashed #666;
}

.chatmod-container h3 {
    text-align: center;
}

.chatmod-container h5 {
    margin-left: -1.25rem;
}

.chatmod-container textarea {
    width: 100%;
    border: 1px solid #999;
}

.chatmod-container input[type=text] {
    width: 100%;
}

.chatmod-container label:not(.inline) {
    display: block;
}

.chatmod-container select, .chatmod-container input:not([type=check]):not([type=radio]) {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #999;
    font-family: monospace;
    font-size: 1.5rem;
    border-radius: 3px;
}

.buttons {
    text-align: right;
}

#drag-drop-target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#drag-drop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    background: var(--bubble-background);
    color: var(--bubble-text-color);
    pointer-events: none;
    font-size: 32px;
    text-shadow: 0 0 5px black;
    border-radius: 5px;
    padding: 15px;
}

#template-file-selector {
    margin: 5px 0;
}

/*//////////////////////////*\
| UI
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#ui {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: left ease-in-out .25s, right ease-in-out .25s;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: 9;
    display: flex;
    flex-direction: column;
}

#ui > * {
    position: relative;
    pointer-events: none;
}

#ui > * > * {
    pointer-events: all;
}

#ui .bubble {
    position: absolute;
    display: inline-block;
    padding: 0.5em 1em;
    background: var(--bubble-background);
    border-radius: 5px;
    color: var(--bubble-text-color);
}

#ui-top {
    height: 100%;
}

#ui #loading-bubble.bubble {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(251, 106, 0, 0.7);
    display: none;
}

#ui #loading-bubble .loading-bubble-item {
    display: none;
}

#main-bubble[position~="top"] {
    top: 4rem;
    padding-bottom: 1em;
}

#main-bubble[position~="left"] {
    left: 1rem;
}

#main-bubble[position~="bottom"] {
    bottom: 1rem;
    padding-top: 1em;
}

#main-bubble[position~="right"] {
    right: 1rem;
}

#main-bubble a {
    pointer-events: auto;
}

#main-bubble .fas {
    width: 1.25em;
    text-align: center;
}

#main-bubble.compact .toggeable {
    /* don't hide it completely to keep their width */
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 0;
}

#main-bubble #setting-ui-bubble-compact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#main-bubble[position~="top"] #setting-ui-bubble-compact {
    top: initial;
    bottom: 0;
}

#main-bubble[position~="top"] #setting-ui-bubble-compact .fas,
#main-bubble.compact[position~="bottom"] #setting-ui-bubble-compact .fas {
    transform: rotate(180deg);
}

#main-bubble[position~="bottom"] #setting-ui-bubble-compact .fas,
#main-bubble.compact[position~="top"] #setting-ui-bubble-compact .fas {
    transform: rotate(0);
}

#pixel-counts .fas {
    vertical-align: top;
}

#pixel-counts > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

#coords-info {
    margin-top: 16px;
    margin-bottom: 8px;
}

#ui-bottom {
    z-index: 6;
    width: 100%;
    left: 0;
}

.palette-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    background: var(--palette-overlay-background);
    color: var(--palette-overlay-text-color);
    font-weight: 700;
    z-index: 9;

    display: flex;
    align-items: center;
    justify-content: center;
}

#palette {
    position: relative;
    z-index: 6;
    padding: 10px 0;
    margin: 0 auto;

    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    background: var(--palette-background);
}

/* Scrollbar, Firefox only */
.thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
}

.palette-stacking {
    white-space: normal !important;
}

/* Scrollbar, Chrome only */
#palette::-webkit-scrollbar {
    height: 6px;
}
#palette::-webkit-scrollbar-track {
    background-color: transparent;
}
#palette::-webkit-scrollbar-thumb {
    background-color: #aaa;
}
#palette::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.palette-color {
    display: inline-block;
    position: relative;

    min-width: 32px;
    min-height: 32px;
    border: 2px solid var(--palette-item-border-color);
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    bottom: 0;
    /* the default of `baseline` causes the deselect button to be raised on Firefox */
    vertical-align: top;
}

.palette-color:first-child {
    margin-left: 10px;
}

.palette-color.active,
.palette-color.no-touch:hover {
    bottom: 7px;
}

.palette-color.deselect-button {
    font-size: 1.75rem;
    color: var(--palette-deselect-button-color);
}

.palette-color.deselect-button.active {
    bottom: 11px;
}

.palette-number {
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 100%;
    border-radius: 16px;
    text-align: center;
    color: var(--palette-number-text-color);
    background-color: var(--palette-number-background-color);
    border: 1px solid #000;
    width: 1.5rem;
    font-size: .75rem;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#palette.no-pills .palette-number {
    display: none !important;
}

#reticule {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: content-box;
}

#cursor {
    position: fixed;
    top: 20px;
    left: 10px;

    width: 36px;
    height: 36px;
    border: 2px solid black;
    border-radius: 3px;
}

body:not(.show-placeable-bubble) #placeableInfoBubble {
    display: none;
}

#cursor-text {
    position: absolute;
    min-width: 24px;
    height: 24px;
    transform: translate(15px, 20px);
    line-height: 24px;
    border-radius: 16px;
    text-align: center;
    color: var(--cursor-text-color);
    background-color: var(--cursor-text-background-color);
    border: 1px solid black;
    padding: 0 8px;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#undo {
    width: 100%;
    text-align: center;
    background: var(--undo-background);
    transition: height .25s ease-in-out;
    height: 0px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    color: var(--undo-text-color);
    font-weight: bold;
    font-size: 1.25em;
    overflow: hidden;
}

#undo.open {
    border-top: 1px solid var(--undo-border-color);
    height: 2em;
}

#undo > span {
    transition: opacity .2s linear;
}

#undo:not(.open) > span {
    opacity: 0;
}

#reticule, #cursor {
    pointer-events: none;
    will-change: transform;
    z-index: 2;
}

.coords {
    transition: 0.2s;
}

#canvas-lock-icon {
    display: none;
}

.copyPulse {
    color: var(--copypulse-color);
}

.ban-alert-content > p:not(:nth-last-of-type(2)) {
    margin: 0;
}

.ban-alert-content > p:nth-last-of-type(2) {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}


/*//////////////////////////*\
| reCaptcha
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.g-recaptcha {
    display: none;
}

.grecaptcha-badge {
    bottom: 64px !important;
}

.captcha-loading-icon {
    display: none;
}

/*//////////////////////////*\
| Board Stuff
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#heatmap {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#heatbackground {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#virginmap {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#virginbackground {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#brightness-fixer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
    /* actually just transparent but tricks chrome into thinking it has to render this element */
    background: linear-gradient(#00000001, #00000000 0%);
}

#board-container {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#board-zoomer {
    flex: 0 0 100px;
}

#board {
    display: block;
}

.noselect {
    /* don't allow selecting them */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.pixelate {
    /* and actually pixelate them */
    image-rendering: optimizeSpeed; /* Legal fallback */
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.board-template {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: 0;
}

#board-container:not(.lower-template) .board-template {
    z-index: 3;
}

#grid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 110vw;
    height: 110vh;
    pointer-events: none;
    background-image: linear-gradient(to right, #aaa 1px, transparent 1px), linear-gradient(to bottom, #aaa 1px, transparent 1px);
    transform-origin: top left;
}

#template-image-error-warning {
    margin-bottom: 0.5em;
    display: inline-block;
}

.overlay {
    transition: opacity 200ms;
}

.overlay.transparent {
    /* NOTE ([  ]): Since overlays set opacity using the style property directly,
                    the opacity for invisible overlays needs to be !important. */
    opacity: 0 !important;
}

/*//////////////////////////*\
| Button Bar
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.button-bar {
    display: flex !important;
}

.button-bar.inline {
    display: inline-flex !important;
}

.button-bar > button {
    flex: 1 0 auto;
    padding: 5px;
    margin: 0;
    border-width: 1px;
    border-radius: 0;
}

.button-bar > button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-bar > button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*//////////////////////////*\
| Panels
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

header {
    display: flex;
    padding: 0 1rem;
}

header.transparent {
    background-image: none;
    background-color: #fff0;
    border: 0;
}

header.controls {
    user-select: none;
    margin-top: 5px;
    z-index: 18;
}

header >.left, header >.right, header >.mid {
    z-index: 18;
}

header >.left, header >.right {
    flex: 0 1 auto;
}

header >.left {
    margin-left: initial;
    margin-right: auto;
}

header >.right {
    margin-left:auto;
    margin-right: initial;
}

header >.mid {
    flex: 0 1 auto;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
    margin: 0;
    padding: 0;
}

footer {
    font-size: .75rem;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    padding: 0 1rem;
}

.fas.fa-is-left, .far.fa-is-left {
    margin-right: .25rem;
}

.fas.fa-is-right, .far.fa-is-right {
    margin-left: .25rem;
}

.text-blue {
    color: var(--text-blue-color);
}

.text-green {
    color: var(--text-green-color);
}

.text-red {
    color: var(--text-red-color);
}

.text-muted {
    color: var(--text-muted-color);
}

.text-yellow {
    color: var(--text-yellow-color);
}

.text-orange {
    color: var(--text-orange-color);
}

aside.panel {
    position: fixed;
    top: 0;
    width: 30%;
    min-width: 300px;
    height: 100%;
    z-index: 21;
    cursor: initial !important;
    overflow: hidden;
}

aside.panel[data-disabled] {
    display: none;
}

aside.panel.left {
    right: initial;
    transition: left ease-in-out .25s;
    left: -35%;
    left: min(calc(-30% - 10px), -310px);
}

aside.panel.left.open, .panel.left[data-state=open] {
    left: 0 !important;
}

aside.panel.right {
    left: initial;
    transition: right ease-in-out .25s;
    right: -35%;
    right: min(calc(-30% - 10px), -310px);
}

aside.panel.right.open, .panel.right[data-state=open] {
    right: 0 !important;
}

aside.panel .panel-body {
    overflow: auto;
    height: 100%;
    height: calc(100% - 2.75em);
}

aside.panel.half-width {
    width: 50%;
    max-width: 50%;
}

aside.panel.half-width.left {
    left: -55%;
    left: min(calc(-50% - 10px), -310px);
}

aside.panel.half-width.right {
    right: -55%;
    right: min(calc(-50% - 10px), -310px);
}

aside.panel.horizontal {
    width: 100%;
    max-width: 100%;
    max-height: 50%;
}

aside.panel.horizontal.left {
    left: -105%;
}

aside.panel.horizontal.right {
    right: -105%;
}

.panel {
    box-shadow: 0 0 10px 5px #0009;
    background: var(--panel-background);
    color: var(--panel-text-color);
}

.panel-body {
    padding: 0 .5rem;
    word-wrap: break-word;
}

.panel-header {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    height: 2.5rem;
    line-height: 2.5rem;
}

.panel-header {
    color: var(--panel-header-text-color);
    background: var(--panel-header-background);
    border-bottom: 1px solid var(--panel-border-color);
}

.panel-header button {
    font-size: 2rem;
}

.panel-header h1,
.panel-header h2,
.panel-header h3,
.panel-header h4,
.panel-header h5,
.panel-header h6 {
    flex-shrink: 1;
    flex-grow: 0;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-header h1 > .fas,
.panel-header h2 > .fas,
.panel-header h3 > .fas,
.panel-header h4 > .fas,
.panel-header h5 > .fas,
.panel-header h6 > .fas {
    flex-shrink: 1;
    overflow: hidden;
}

.panel-title {
    flex-shrink: 999999999;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-trigger {
    color: #000;
    position: relative;
    /* AAAAAAAAAAAAAAAAAAAAAAAAAAA */
    text-shadow: 1px 1px 0 var(--panel-trigger-outline-color), -1px 1px 0 var(--panel-trigger-outline-color), 1px -1px 0 var(--panel-trigger-outline-color), -1px -1px 0 var(--panel-trigger-outline-color), 0px 1px 0 var(--panel-trigger-outline-color), 0px -1px 0 var(--panel-trigger-outline-color), -1px 0px 0 var(--panel-trigger-outline-color), 1px 0px 0 var(--panel-trigger-outline-color);
    display: inline-block;
    font-size: 2.5rem;
    border: 0;
    padding: 0;
    margin: 0 .2rem 0 0;
}

.panel-trigger:hover {
    color: #333;
}

.panel-trigger:active {
    color: #555;
}

.panel-closer {
    color: var(--panel-close-button-color);
    border: 0;
    padding: 0;
    margin: .2rem 0 0 0;
}

.panel-closer:hover {
    color: var(--panel-close-button-color-hover);
}

.panel-closer:active {
    color: var(--panel-close-button-color-active);
}

.panel-body article:not(:last-of-type) {
    margin-bottom: 1rem;
}

.panel-body article:first-of-type {
    margin-top: .5rem;
}

.panel-body article:last-of-type {
    margin-bottom: .5rem;
}

.panel-body article:not(.naked) {
    color: var(--panel-article-text-color);
    border: 1px solid var(--panel-article-border-color);
    background: var(--panel-article-background);
}

.panel-body article:not(.naked) > header {
    color: var(--panel-article-header-text-color);
    border-bottom: 1px solid var(--panel-article-border-color);
    background: var(--panel-article-header-background);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.panel-body article:not(.naked) > footer {
    padding: 0.833em .5em;
    color: var(--panel-article-footer-text-color);
    border-top: 1px solid var(--panel-article-border-color);
    background: var(--panel-article-footer-background);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.panel-body article p, .panel-body article section > h4 {
    padding: 0;
    margin: .5rem 0;
}

.panel-body article > header h1,
.panel-body article > header h2,
.panel-body article > header h3,
.panel-body article > header h4,
.panel-body article > header h5,
.panel-body article > header h6 {
    font-size: x-large;
    text-align: center;
    width:  100%;
    cursor: pointer;
}

.panel-body article .pad-wrapper {
    padding: .5rem;
}

body.panel-open.panel-left #ui {
    left: 30%;
    left: max(30%, 300px);
}

body.panel-open.panel-right #ui {
    right: 30%;
    right: max(30%, 300px);
}

body.panel-open.panel-left.panel-left-halfwidth #ui {
    left: 50%;
}

body.panel-open.panel-right.panel-right-halfwidth #ui {
    right: 50%;
}

body.panel-open.panel-left.panel-left-horizontal #ui {
    left: 0;
}

body.panel-open.panel-right.panel-right-horizontal #ui {
    right: 0;
}

/* CHAT */

.chat-wrapper {
    display: block;
    height: 99%;
}

.chat-wrapper ul.chat-body {
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100% - 4.25rem);
    font-family: Arial, Helvetica, sans-serif;
}

ul.chat-body li.chat-line {
    /*border:1px solid #000;*/
    line-height: 1.5em;
    border-bottom: 1px solid var(--chat-separator-color);
    overflow: hidden;
}

ul.chat-body li.chat-line:nth-child(odd) {
    background: var(--chat-odd-background);
}

ul.chat-body li.chat-line:not(:last-child):not(:only-of-type) {
    padding: 5px 0;
}

li.chat-line span[title]:not(.text-badge) {
    border-bottom: 1px dashed var(--chat-abbr-underline-color);
    cursor: default;
}

li.chat-line i[title] {
    padding-bottom: 1px;
}

.text-badge {
    line-height: 1em;
    background: var(--chat-badge-background);
    padding: .15em .5em;
    border-radius: 1em;
    color: var(--chat-badge-text-color);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat-line .content {
    white-space: pre-wrap;
}

.chat-line .content .mention {
    font-weight: bold;
    color: #800080;
    color: var(--chat-mention-text-color);
}

header .text-badge {
    background-color: #eee;
}

header .icon-badge {
    font-size:1rem;
}

header .icon-badge:only-of-type, header.text-badge:only-of-type, header .icon-badge:only-child, header .text-badge:only-child {
    margin-left: .15rem;
}

li.chat-line.server-action {
    text-align: center;
    font-weight: bold;
    color: var(--chat-server-action-text-color);
    cursor: default;
}

li.chat-line .flairs .flair {
    margin-right: .25rem;
}

li.chat-line .user {
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 0 var(--chat-user-text-shadow-color), -1px 1px 0 var(--chat-user-text-shadow-color), 1px -1px 0 var(--chat-user-text-shadow-color), -1px -1px 0 var(--chat-user-text-shadow-color), 0 1px 0 var(--chat-user-text-shadow-color), 0 -1px 0 var(--chat-user-text-shadow-color), -1px 0 0 var(--chat-user-text-shadow-color), 1px 0 0 var(--chat-user-text-shadow-color);
}

li.chat-line [data-action] {
    cursor: pointer !important;
}

li.chat-line .actions {
    margin: 0 .2em;
}

li.chat-line .actions [data-action]:not(:last-of-type):not(:only-child) {
    margin-right: .2em;
}

.chat-wrapper .chat-controls, .chat-wrapper .chat-hints {
    flex: 0;
    position: relative;
}

.chat-wrapper .chat-controls {
    height: 3rem;
    position: absolute;
    bottom: calc(5px + 1.25rem);
    width: calc(100% - 16px);
}

@keyframes banner-fade {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.chat-wrapper .bottom-banner {
    height: 1.25em;
    line-height: 1.25em;
    font-size: 1em;
    text-align: right;
    font-style: italic;
    opacity: 100%;
    overflow-y: hidden;
    text-align: center;
}

.chat-wrapper .bottom-banner.transparent {
    opacity: 0%;
}

.chat-wrapper .bottom-banner.fade {
    /* have to set animation-delay to 1ms here because our minifer is stripping 0 completely */
    animation: banner-fade 1s ease-out 1ms 1 normal none running;
}

.chat-wrapper .bottom-banner.fade-rev {
    /* have to set animation-delay to 1ms here because our minifer is stripping 0 completely */
    animation: banner-fade 1s ease-in 1ms 1 reverse none running;
}

.chat-wrapper .chat-hints {
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    bottom: 3.5rem;
    width: calc(100% - 16px);
    background-color: #555d;
    color: #ff8c00;
}

.chat-wrapper .chat-controls textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px 1.75rem 5px 5px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-trigger .has-notification, i.fas.has-notification, i.far.has-notification {
    color: var(--notification-color);
}

.chat-ratelimit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0009;
    color: #FFF;
    text-shadow: #000 0 0 2px;
    font-size: 1.5rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    user-select: none;
}

#chat-hint {
    white-space: pre-wrap;
    word-break:break-all;
}

.chat-line.purged {
    font-style: italic;
    font-size: .9em;
    color: var(--chat-purged-text-color);
    text-decoration: line-through;
}

.chat-line.shadow-banned {
    font-size: .9em;
    color: var(--chat-shadowbanned-text-color);
}

#jump-to-bottom {
    text-align: center;
    color: var(--chat-tobottom-text-color);
    line-height: 1.25rem;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    background: var(--chat-tobottom-background);
    cursor: pointer;
    position: absolute;
    top: -1.25rem;
    left: 0;
    right: 0;
}

#jump-to-bottom:hover {
    color: var(--chat-tobottom-text-color-hover);
    background: var(--chat-tobottom-background-hover);
}

#emojiPanelTrigger {
    position: absolute;
    right: .5rem;
    top: .5rem;
    cursor: pointer;
    color: #aaa;
}

#emojiPanelTrigger:hover {
    color: #ccc;
}


#typeahead {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    margin-bottom: -1px;
    padding: 5px;
    background: var(--chat-typeahead-menu-background);
    border-radius: 5px 5px 0 0;
}

#typeahead ul {
    min-height: 2em;
    max-height: 50vh;
    overflow-y: auto;
    list-style: none;
}

#typeahead ul, #typeahead ul li {
    margin: 0;
    padding: 0;
}

#typeahead ul li button {
    font-size: 1em;
    line-height: 1.5em;
    cursor: pointer;
    user-select: none;
    text-indent: .75em;
    background: var(--chat-typeahead-item-background);
    border-radius: 4px;
    padding: 3px;
    margin: 4px 0;
    color: var(--chat-typeahead-item-text-color);
    width: 100%;
    text-align: left;
}

#typeahead ul li button:hover {
    background: var(--chat-typeahead-item-background-hover);
}

#typeahead ul li button.active {
    background: var(--chat-typeahead-item-background-active);
}

/* PINGS */

/* NOTE ([  ]): this seems to not respond to css vars (at least on firefox when I tested it) so I'm leaving it fixed for now */
@keyframes -scrolled-flash {
    from {
        background: #feedd1;
    }
    to {
        background: #8ef7d1;
    }
}

ul.chat-body .chat-line[data-id].has-ping {
    background: var(--ping-highlight-color);
}

ul.chat-body .chat-line[data-id].has-ping.-scrolled-to {
    animation: -scrolled-flash 150ms linear 1ms 4 alternate;
}

.chat-history .chat-line {
    word-break: break-all;
}

ul.chat-history, ul.chatban-history {
    padding: 0;
    margin: 0;
    list-style: none;
}

.chatban-history li {
    margin: 7px;
}

.chatban-history table {
    margin: 7px;
}

.chatban-history th {
    text-align: right;
    font-weight: bold;
    margin-right: .5em;
}


.panel-trigger .ping-counter {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-30%) translateX(-40%);
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--ping-counter-color);
}

.panel-trigger:not(.has-ping) .ping-counter {
    display: none;
}

.panel-trigger.has-ping {
    margin-left: 6px;
}

.popup ul.pings-list {
    width: 100%;
    max-height: 73vh;
    list-style: none;
    margin: 0;
    padding: .5rem;
    overflow-y: auto;
}

.popup .pings-list:empty::before {
    content: "No pings here";
    display: block;
    text-align: center;
    color: var(--text-muted-color);
}

.popup .pings-list li {
    font-family: monospace;
}

#chat-select-username-color {
    font-family: monospace;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 5px;
}

#chat-select-username-color.rainbow {
    background-color: black;
    text-shadow: 0 0 0.5em black;
    color: white;
}

@keyframes rainbow-transition-bg {
    0% { background-color: violet; }
    14% { background-color: #308dff; }
    28% { background-color: aqua; }
    42% { background-color: green; }
    56% { background-color: yellow; }
    70% { background-color: orange; }
    84% { background-color: red; }
    98%, 100% { background-color: violet; }
}

#chat-select-username-color option.rainbow {
    animation: rainbow-transition-bg 4s linear infinite;
    background-color: violet;
}

.user.rainbow {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    text-shadow: none !important;
}

#chat-select-username-color.donator {
    background-color: black;
    text-shadow: 0 0 0.5em black;
    color: white;
}

/*for reference: linear-gradient(45deg, #94E044, #02BE01 25%, #005F00 50%, #02BE01 75%, #94E044 90%)*/
@keyframes donator-transition-bg {
    0% { background-color: #94E044; }
    25% { background-color: #02BE01; }
    50% { background-color: #005F00; }
    75% { background-color: #02BE01; }
    90% { background-color: #94E044; }
}

#chat-select-username-color option.donator {
    animation: donator-transition-bg 4s linear infinite;
    background-color: green;
}

.user.donator {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    text-shadow: none !important;
}

/* preselecting body makes this a more specific selector than the built-in one which would normally override this since it's inline */
body .emoji-picker {
    --focus-indicator-color: #999999;

    --border-color: var(--emoji-picker-border-color);
    --background-color: var(--emoji-picker-background);
    --text-color: var(--emoji-picker-preview-name-text-color);
    --secondary-text-color: var(--emoji-picker-search-no-results-color);
    --hover-color: var(--emoji-picker-emoji-background-hover);
    --search-focus-border-color: var(--emoji-picker-search-input-border-color-focus);
    --search-icon-color: var(--emoji-picker-search-icon-color);
    --overlay-background-color: var(--emoji-picker-variant-overlay-background);
    --popup-background-color: var(--emoji-picker-variant-popup-background);
    --category-button-color: var(--emoji-picker-tab-icon-color);
    --category-button-active-color: var(--emoji-picker-tab-icon-color-selected);
}

.emoji-picker * {
    box-sizing: content-box;
}

.emoji-picker__search {
    --border-color: var(--emoji-picker-search-input-border-color);
    background: var(--emoji-picker-search-input-background);
    color: var(--emoji-picker-search-input-text-color);
}

.emoji-picker__emojis h2.emoji-picker__category-name {
    --secondary-text-color: var(--emoji-picker-section-text-color);
}

.emoji-picker__custom-emoji {
    width: 1em !important;
    height: auto !important;
}

/* CHAT ACTIONS POPUP */

.popup {
    position: absolute;
    z-index: 22;
    border-radius: 5px;
    font-size: 1rem !important;
    line-height: 1rem !important;
    overflow: hidden;
    max-width: 400px;
    min-width: 300px;
}

.popup .details-wrapper {
    width: 65%;
}

.popup .actions-wrapper {
    width: 35%;
    background: var(--panel-article-background);
}

.popup .pane {
    display: inline-block;
    vertical-align: top;
}

.popup .pane.pane-full {
    width: 100%;
}

.pane p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.pane ul.actions-list {
    margin: 0;
    padding: 0;
    padding-bottom: .5em;
    list-style: none;
    border-left: 1px solid var(--panel-border-color);
}

.pane ul.actions-list li {
    line-height: 2em;
    padding: 0 .5em;
}

.popup-timestamp-header {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid var(--panel-border-color);
    text-align: center;
}

/* Chat settings tweaks */
.chat-settings-wrapper label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    margin: 6px 0;
}

.chat-settings-wrapper input:not([type=checkbox]) {
    border: 1px solid #888;
}

/* Notifications */
.notification {
    margin: 15px 10px;
}

.notification-body {
    padding: 10px 5px;
    word-break: break-word;
    white-space: pre-wrap;
}

.notification-footer {
    /*
        Fixes a dumb case where a footer containing only float content would have 0 height
        despite being able to lay things out perfectly fine.
        Nobody would even see this anyway - who would post a notification without an author?
    */
    overflow: auto;
}

.notification-footer .notification-expiry {
    cursor: default;
    color: var(--notification-expiry-color);
}

/*//////////////////////////*\
| Modal
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* https://github.com/kylefox/jquery-modal/blob/a8b9c9b01961c0a3c6676fcc8fe6cc5b8c74cb5c/jquery.modal.css */
.blocker {
    z-index: 99;
    padding: 0;
}

.modal {
    z-index: 100;
    width: initial;
    min-width: 10vw;
    max-width: 96vw;
    max-height: 99vh;
    padding: 0;
    outline: 0;
    overflow: hidden;
}

.modal .modal-header, .modal .modal-footer {
    margin: 0;
    min-height: 2em;
}

.modal .modal-body {
    padding: 15px 10px;
    max-width: 98vw;
    max-height: 88vh;
    overflow: auto;
}

/*//////////////////////////*\
| Mobile Styles
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.mobile-only {
    display: none;
}

#txtMobileChatCooldown {
    margin-left: 0.25em;
}

@media (max-width: 1500px) {
    #donate, #donate > * {
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    aside.panel {
        min-width: 0;
        max-width: 100% !important;
        width: 100% !important;
    }

    aside.panel.left {
        left: -105% !important;
        left: min(calc(-100% - 10px), -10px) !important;
    }

    aside.panel.right {
        right: -105% !important;
        right: min(calc(-100% - 10px), -10px) !important;
    }

    body.panel-open #ui {
        right: initial;
        width: initial;
        transition: none;
    }

    .mobile-only {
        display: initial;
    }

    .modal {
        min-width: 1vw;
        max-width: 95vw;
    }

    .palette {
        width: 100%;
    }

    body .message {
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
    }

    #chat-hint {
        font-size: .7rem;
    }

    #chat-ratelimit {
        font-size: 1rem;
    }

    #jump-to-bottom {
        line-height: 2rem;
        font-size: 1.25rem;
        top: -2rem;
    }

    .halves .side {
        flex: 1 0 100%;
    }

    .chat-lookup-side {
        max-height: initial;
    }
}

