/*
z-index:
 0 - canvas
 1 - grid
 2 - reticule
 3 - template
 6 - palette
 7 - timer
 8 - login overlay
 9 - ui blobs
10 - admin boxes

21 - panels
22 - lookup, emoji-picker
22 - admin-check popup

98 - lost connection
99 - alert box
*/

/*//////////////////////////*\
| Themeing
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

html {
    --general-text-color: #000;
    --general-background-color: #CDCDCD;
    
    --kbd-background-color: #eee;
    --kbd-border-color: #ddd;
    --kbd-text-color: black;
    
    --message-background-color: #fff;
    --message-text-color: #333;
    
    --button-background-color: #ddd;
    --button-border-color: #999;
    --button-text-color: #000;
    --button-text-color-disabled: #555;
    --button-border-color-disabled: #777;
    --button-background-color-disabled: #aaa;
    --button-text-color-hover: #fff;
    --button-border-color-hover: #999;
    --button-background-color-hover: #ce4747;
    
    --report-button-text-color: #fff;
    --report-button-background-color: #e20;
    --report-button-background-color-hover: #f10;
    --report-button-border-color: unset;
    
    --floating-panel-text-color: inherit;
    --floating-panel-border-color: #ccc;
    --floating-panel-background-color: #eee;
    
    --bubble-background-color: rgba(0, 0, 0, 0.7);
    --bubble-text-color: #fff;
    
    --palette-background-color: rgba(255, 255, 255, 0.8);
    --palette-item-border-color: black;
    --palette-overlay-background-color: rgba(255, 255, 255, 0.9);
    --palette-overlay-text-color: #000;
    --palette-deselect-button-color: inherit;
    
    --undo-text-color: #000;
    --undo-background: linear-gradient(to top, #FFFC, #FFF);
    --undo-border-color: #000;
    
    --input-text-color: #000;
    --input-background-color: #fff;
    --input-border-color: #ccc;
    
    --text-blue-color:#00a;
    --text-green-color:#0a0;
    --text-red-color:#a00;
    --text-muted-color:#8c8c8c;
    --text-yellow-color:#f0ff27;
    --text-orange-color:#e67700;
    
    --copypulse-color: rgba(0, 211, 221, 0.7);
    --error-color: #cc3333;
    --notification-color: #b20;
    --ping-highlight-color: #feedd1;
    --ping-flash-color: #8ef7d1;
        
    --panel-header-background: linear-gradient(to bottom, #ccc, #bbb);
    --panel-background-color: #dfdfdf;
    --panel-text-color: inherit;
    --panel-borders-color: #000;
    --panel-article-background-color: #0002;
    
    --panel-trigger-outline-color: #AAA;
    
    --option-bubble-position-border-color-hovered: #6495ED;
    --option-bubble-position-background-color-hovered: rgba(0, 0, 0, 0);
    --option-bubble-position-background-color-selected: #eee;
    
    --chat-separator-color: #bfbfbf;
    --chat-odd-background-color: #d5d5d5;
    --chat-abbr-underline-color: #aaa;
    --chat-badge-background-color: #ccc;
    --chat-badge-text-color: #770;
    --chat-server-action-text-color: #555;
    --chat-user-text-shadow-color: #ccc;
    --chat-purged-text-color: #888;
    
    --chat-typeahead-menu-background-color: #b9b9b9;
    --chat-typeahead-item-text-color: inherit;
    --chat-typeahead-item-background-color: #a3a3a3;
    --chat-typeahead-item-background-color-hover: #949494;
    --chat-typeahead-item-background-color-active: #828282;
    
    --mod-lookup-chatban-history-item-background-color: rgba(177, 177, 177, 0.3);
    --mod-lookup-chatban-history-item-border-color: #828282;
    --mod-lookup-chatban-history-item-heading-background-color: #82828233;
    
    --popup-background-color: #eee;
    --popup-border-color: #000;
    --popup-text-color: inherit;
    --popup-timestamp-text-color: #aaa;
    --pane-button-background: linear-gradient(0deg, #eee, #ccc, #eee);
    --pane-button-background-hover: linear-gradient(0deg, #ddd, #bbb, #ddd);
    
    --notification-background-color: #f5f5f5;
    --notification-border-color: #8f8f8f;
    --notification-title-text-color: inherit;
    --notification-title-background-color: #b8b8b8;
    --notification-footer-background-color: #d6d6d6;
    --notification-footer-text-color: #666;
    --notification-expiry-color: #b66;
    
    --modal-text-color: inherit;
    --modal-background-color: #f5f5f5;
    --modal-headfoot-background-color: #b8b8b8;
    
    --emoji-picker-border-color: #999999;
    --emoji-picker-shadow-color: #CCCCCC;
    --emoji-picker-background-color: #FFFFFF;
    --emoji-picker-preview-name-text-color: #666666;
    --emoji-picker-tab-icon-color: inherit;
    --emoji-picker-tab-icon-color-selected: #4F81E5;
    --emoji-picker-section-text-color: #333333;
    --emoji-picker-emoji-color: #333333;
    --emoji-picker-emoji-background: transparent;
    --emoji-picker-emoji-background-hover: #E8F4F9;
    --emoji-picker-emoji-search-input-border-color: #CCCCCC;
    --emoji-picker-emoji-search-input-background-color: #fff;
    --emoji-picker-emoji-search-input-text-color: #000;
    --emoji-picker-search-icon-color: #CCCCCC;
    --emoji-picker-search-no-results-color: #666666;
    --emoji-picker-variant-overlay-background: rgba(0, 0, 0, 0.7);
    --emoji-picker-variant-popup-background: #FFFFFF;
    --emoji-picker-variant-close-button-color: inherit;
}

/*//////////////////////////*\
| General Styles
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #000;
    color: var(--general-text-color);
    background-color: #CDCDCD;
    background-color: var(--general-background-color);
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-clear {
    clear: both !important;
}

.hidden {
    display: none !important;
}

a, a:hover, a:visited, a:active, .link, .link:hover, .link:active {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

kbd {
    background-color: #eee;
    background-color: var(--kbd-background-color);
    border: 1px solid #ddd;
    border: 1px solid var(--kbd-border-color);
    border-radius: 4px;
    color: black;
    color: var(--kbd-text-color);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    margin: 0 .1em .1em .1em;
    padding: .1em .7em;
    text-indent: 0;
    cursor: default;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#reconnecting {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100vw;
    background: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-weight: 800;
    color: #fff;
    font-size: 25px;
}

.indent-1 {
    text-indent: 0.75em;
}

.vertical-spacing {
    margin-top: .5em;
    margin-bottom: .5em;
}

.fake-indent {
    margin-left:1.2rem;
}

input:disabled {
    cursor: not-allowed;
}

.longTextInputWrapper {
    max-width: 100% !important;
}

.longTextInputWrapper > input[type='text'] {
    width: 100% !important;
    margin-bottom: 2px;
}

.useMono {
    font-family: monospace;
}

dt:not(:first-of-type) {
    margin-top: 1rem;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
}

dd a {
    display: inline !important;
}

@keyframes rainbow-move {
    0% {
        background-position: 5px 0%;
    }
    100% {
        background-position: -500px 0%;
    }
}

.rainbow {
    background-image: linear-gradient(45deg, violet, #308dff, cyan, green, yellow, orange, red, orange, yellow, green, cyan, #308dff, violet, violet);
    background-size: 500px 100%;
    animation: rainbow-move 4s linear 1ms infinite;
    transform: rotateZ(360deg); /* force rainbow rendering onto GPU if available */
}

.halves {
    display: flex;
    flex-wrap: wrap;
    min-width: 50vw;
}

.halves .side {
    flex: 1 0 50%;
}

.chat-lookup-side {
    max-height: calc(88vh - 30px);
    overflow: auto;
}

/*//////////////////////////*\
| Overlays
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444;
    z-index: 999;
}

#loading span {
    text-align: center;
    font-size: 36px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message {
    padding: 30px 30px 10px;
    border-radius: 7px;
    background-color: #fff;
    background-color: var(--message-background-color);
    color: #333;
    color: var(--message-text-color);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 40%;
    min-width: 20%;
    z-index: 99;

    position: fixed;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message .buttons {
    margin-top: 1em;
    text-align: right;
}

button {
    cursor: pointer;
    margin-top: 6px;
    margin-right: 4.5px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #999;
    border: 1px solid var(--button-border-color);
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #ddd;
    background-color: var(--button-background-color);
    color: #000;
    color: var(--button-text-color);
}

button:disabled {
    cursor: not-allowed;
    border: 1px solid #777;
    border: 1px solid var(--button-border-color-disabled);
    background-color: #aaa;
    background-color: var(--button-background-color-disabled);
    color: #555;
    color: var(--button-text-color-disabled);
}

button:hover {
    color: #fff;
    color: var(--button-text-color-hover);
    background: #ce4747;
    background: var(--button-background-color-hover);
    border-color: var(--button-border-color-hover);
}

.floating-panel {
    border-radius: 8px;
    border: 1px solid #ccc;
    border: 1px solid var(--floating-panel-border-color);
    background-color: #eee;
    background-color: var(--floating-panel-background-color);
    color: inherit;
    color: var(--floating-panel-text-color);
    padding: 16px;
    max-width: 300px;
}

.floating-panel .content > div:not(:first-of-type) {
    margin-top: 10px;
}

#lookup {
    position: fixed;
    top: 50px;
    right: 16px;
    z-index: 22;
}

#lookup .report-button {
    background-color: #e20;
    background-color: var(--report-button-background-color);
    color: #fff;
    color: var(--report-button-text-color);
    border-color: unset;
    border-color: var(--report-button-border-color);
}

#lookup .report-button:hover {
    background-color: #f10;
    background-color: var(--report-button-background-color-hover);
}

.content {
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.palette-number {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    width: 2em;
    font-size: .75em;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#palette.no-pills .palette-number {
    display: none !important;
}

/* moderator action popup styles */
.chatmod-container th {
    text-align: right;
    margin-right: .25rem;
}

.chatmod-container th[title] {
    border-bottom: 1px dashed #666;
}

.chatmod-container .error-label {
    font-size: .8rem;
    color: #e00;
    font-weight: bold;
    text-indent: 1rem;
}

.chatmod-container h3 {
    text-align: center;
}

.chatmod-container h5 {
    margin-left: -1.25rem;
}

.chatmod-container .buttons {
    text-align: right;
}

.chatmod-container .buttons button {
    position: initial;
    margin-right: .25rem;
}

.chatmod-container textarea {
    width: 100%;
    border: 1px solid #999;
}

.chatmod-container input[type=text] {
    width: 100%;
}

.chatmod-container label:not(.inline) {
    display: block;
}

.chatmod-container select, .chatmod-container input:not([type=check]):not([type=radio]) {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #999;
    font-family: monospace;
    font-size: 1.5rem;
    border-radius: 3px;
}


/*//////////////////////////*\
| UI
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#ui {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: width ease-in-out .25s, left ease-in-out .25s;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: 9;
    display: flex;
    flex-direction: column;
}

#ui > * {
    position: relative;
    pointer-events: none;
}

#ui > * > * {
    pointer-events: all;
}

#ui .bubble {
    position: absolute;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: var(--bubble-background-color);
    border-radius: 5px;
    color: #fff;
    color: var(--bubble-text-color);
}

#ui-top {
    height: 100%;
}

#ui #loading-bubble.bubble {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(251, 106, 0, 0.7);
    display: none;
}

#ui #loading-bubble .loading-bubble-item {
    display: none;
}

#main-bubble[position~="top"] {
    top: 4rem;
}

#main-bubble[position~="left"] {
    left: 1rem;
}

#main-bubble[position~="bottom"] {
    bottom: 1rem;
}

#main-bubble[position~="right"] {
    right: 1rem;
}

#main-bubble a {
    pointer-events: auto;
}

#ui-bottom {
    z-index: 6;
    width: 100%;
    left: 0;
}

.palette-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: var(--palette-overlay-background-color);
    color: #000;
    color: var(--palette-overlay-text-color);
    font-weight: 700;
    z-index: 9;

    display: flex;
    align-items: center;
    justify-content: center;
}

#palette {
    position: relative;
    z-index: 6;
    padding: 15px 0 7px;
    margin: 0 auto;

    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.8);
    background-color: var(--palette-background-color);

    /* Scrollbar, Firefox only */
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
}

/* Scrollbar, Chrome only */
#palette::-webkit-scrollbar {
    height: 6px;
}
#palette::-webkit-scrollbar-track {
    background-color: transparent;
}
#palette::-webkit-scrollbar-thumb {
    background-color: #aaa;
}
#palette::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.palette-color {
    display: inline-block;

    min-width: 32px;
    min-height: 32px;
    border: 2px solid black;
    border: 2px solid var(--palette-item-border-color);
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    bottom: 0;
}

.palette-color:first-child {
    margin-left: 10px;
}

.palette-color.active,
.palette-color.no-touch:hover {
    position: relative;
    bottom: 7px;
}

.palette-color.deselect-button {
    font-size: 1.75rem;
    position: relative;
    bottom: 4px;
    left: 4px;
    color: inherit;
    color: var(--palette-deselect-button-color);
}

.palette-color.deselect-button.active {
    bottom: 11px;
}

.palette-color.no-border {
    border: none;
}

#reticule {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: content-box;
}

#cursor {
    position: fixed;
    top: 20px;
    left: 10px;

    width: 36px;
    height: 36px;
    border: 2px solid black;
    border-radius: 3px;
}

body:not(.show-placeable-bubble) #placeableInfoBubble {
    display: none;
}

#cursor-text {
    position: absolute;
    min-width: 24px;
    height: 24px;
    transform: translate(15px, 20px);
    line-height: 24px;
    border-radius: 16px;
    text-align: center;
    color: #000;
    background-color: white;
    border: 1px solid black;
    padding: 0 8px;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#undo {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to top, #FFFC, #FFF);
    background: var(--undo-background);
    transition: height .25s ease-in-out;
    height: 0px;
    flex-flow: column;
    justify-content: center;
    cursor: pointer;
    display: flex;
    color: #000;
    color: var(--undo-text-color);
    font-weight: bold;
    font-size: 1.25em;
}

#undo.open {
    border-top: 1px solid #000;
    border-top: 1px solid var(--undo-border-color);
    height: 2em;
}

#undo > span {
    transition: opacity .2s linear;
}

#undo:not(.open) > span {
    opacity: 0;
}

#reticule, #cursor {
    pointer-events: none;
    will-change: transform;
    z-index: 2;
}

.coords {
    transition: 0.2s;
}

#canvas-lock-icon {
    display: none;
}

.copyPulse {
    color: rgba(0, 211, 221, 0.7);
    color: var(--copypulse-color);
}

.userinfo .logout {
    font-size: 0.75em;
    text-decoration: underline;
}

input[type="text"], input[type="number"], textarea, select {
    padding: 0.5em;
    border: 1px solid #ccc;
    border: 1px solid var(--input-border-color);
    background-color: #fff;
    background-color: var(--input-background-color);
    color: #000;
    color: var(--input-text-color);
}

.error {
    color: #cc3333;
    color: var(--error-color);
    font-weight: 700;
}

.ban-alert-content > p:not(:nth-last-of-type(2)) {
    margin: 0;
}

.ban-alert-content > p:nth-last-of-type(2) {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}


/*//////////////////////////*\
| reCaptcha
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.g-recaptcha {
    display: none;
}

.grecaptcha-badge {
    bottom: 64px !important;
}

.captcha-loading-icon {
    display: none;
}

/*//////////////////////////*\
| Board Stuff
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#heatmap {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#virginmap {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#board-container {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#board-zoomer {
    flex: 0 0 100px;
}

#board {
    display: block;
}

.noselect {
    /* don't allow selecting them */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.pixelate {
    /* and actually pixelate them */
    image-rendering: optimizeSpeed; /* Legal fallback */
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#board-template {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: 0;
}

#board-container:not(.lower-template) #board-template {
    z-index: 3;
}

#grid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 110vw;
    height: 110vh;
    pointer-events: none;
    background-image: linear-gradient(to right, #aaa 1px, transparent 1px), linear-gradient(to bottom, #aaa 1px, transparent 1px);
}

#settings .settingToggles > * {
    margin: 3px 0;
}

#settings .settingToggles > label {
    display: block;
}

#settings input.small-input {
    width: 6em;
}
#settings input[disabled] {
    opacity: 0.5;
}

#template-image-error-warning {
    margin-bottom: 0.5em;
    display: inline-block;
}

/*//////////////////////////*\
| Button Bar
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.ButtonBar {
    display: flex !important;
}
.ButtonBar.inline {
    display: flex !important;
}
.ButtonBar > button {
    flex: 1 0 auto;
    padding: 5px;
    margin: 0;
    border-width: 1px;
    border-radius: 0;
}
.ButtonBar > button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ButtonBar > button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*//////////////////////////*\
| Panels
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

header {
    display: flex;
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #000;
    padding: 0 1rem;
    background-image: linear-gradient(to bottom, #ccc, #bbb);
    background: var(--panel-header-background);
    user-select: none;
    z-index: 18;
}

header.transparent {
    background-image: none;
    background-color: #fff0;
    border: 0;
}

header .fas {
    font-size: 2rem;
    margin-top: .2rem;
    cursor: pointer;
}

header.slim {
    height: 1.75rem;
    line-height: 1.75rem;
}

header.no-border {
    border: none !important;
}

header >.left, header >.right, header >.mid {
    z-index: 18;
}

header >.left, header >.right {
    flex: 0 1 auto;
}

header >.left {
    margin-left: initial;
    margin-right: auto;
}

header >.right {
    margin-left:auto;
    margin-right: initial;
}

header >.mid {
    flex: 0 1 auto;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
    margin: 0;
    padding: 0;
}

.fas.fa-is-left, .far.fa-is-left {
    margin-right: .25rem;
}

.fas.fa-is-right, .far.fa-is-right {
    margin-left: .25rem;
}

.fa-1x {
    font-size: 1rem !important;
}

.fa-1_5x {
    font-size: 1.5rem !important;
}

.text-blue {
    color: #00a;
    color: var(--text-blue-color);
}

.text-green {
    color: #0a0;
    color: var(--text-green-color);
}

.text-red {
    color: #a00;
    color: var(--text-red-color);
}

.text-muted {
    color: #8c8c8c;
    color: var(--text-muted-color);
}

.text-yellow {
    color: #f0ff27;
    color: var(--text-yellow-color);
}

.text-orange {
    color: #e67700;
    color: var(--text-orange-color);
}

aside.panel {
    position: fixed;
    top: 0;
    max-width: 50%;
    min-width: 30%;
    height: 100%;
    box-shadow: 0 0 10px 5px #0009;
    background-color: #dfdfdf;
    background-color: var(--panel-background-color);
    color: inherit;
    color: var(--panel-text-color);
    z-index: 21;
    cursor: initial !important;
}

.panel.half-width {
    width: 50% !important;
}

.panel.horizontal {
    width: 100%;
    height: 50%;
    max-width: initial;
    min-height: initial;
}

.panel header {
    border-bottom: 1px solid #000;
    border-bottom: 1px solid var(--panel-borders-color);
}

.panel.left {
    right: initial;
    transition: left ease-in-out .25s;
    left: -55%;
}

.panel.left.horizontal {
    left: -105%;
}

.panel.left.open, .panel.left[data-state=open] {
    left: 0;
}

.panel.right {
    left: initial;
    transition: right ease-in-out .25s;
    right: -55%;
}

.panel.right.horizontal {
    right: -105%;
}

.panel.right.open, .panel.right[data-state=open] {
    right: 0;
}

.panel-body {
    padding: 0 .5rem;
    overflow: auto;
    position: absolute;
    top: 2.65rem;
    bottom: 0;
    word-wrap: break-word;
    width: 100%;
}

.panel-trigger {
    color: #000;
    position: relative;
    /* AAAAAAAAAAAAAAAAAAAAAAAAAAA */
    text-shadow: 1px 1px 0 #AAA, -1px 1px 0 #AAA, 1px -1px 0 #AAA, -1px -1px 0 #AAA, 0px 1px 0 #AAA, 0px -1px 0 #AAA, -1px 0px 0 #AAA, 1px 0px 0 #AAA;
    text-shadow: 1px 1px 0 var(--panel-trigger-outline-color), -1px 1px 0 var(--panel-trigger-outline-color), 1px -1px 0 var(--panel-trigger-outline-color), -1px -1px 0 var(--panel-trigger-outline-color), 0px 1px 0 var(--panel-trigger-outline-color), 0px -1px 0 var(--panel-trigger-outline-color), -1px 0px 0 var(--panel-trigger-outline-color), 1px 0px 0 var(--panel-trigger-outline-color);
    display: inline-block;
    cursor: pointer;
}

.panel-trigger:hover {
    color: #333;
}

.panel-trigger:active {
    color: #555;
}

.panel-trigger .fas, .panel-trigger .far, .panel-trigger .fal {
    font-size: 2.5rem;
}

article .body {
    padding: .5rem;
}

.panel-body article:not(:last-of-type) {
    margin-bottom: 1rem;
}
.panel-body article:first-of-type {
    margin-top: .5rem;
}
.panel-body article:last-of-type {
    margin-bottom: .5rem;
}

.panel-body article:not(.naked) {
    border: 1px solid #000;
    border: 1px solid var(--panel-borders-color);
    background-color: #0002;
    background-color: var(--panel-article-background-color);
}

.panel-body article p {
    padding: 0;
    margin: .5rem 0;
}

.panel-body article h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    width:  100%;
}

.panel-body article .pad-wrapper {
    padding: .5rem;
}

.panel-body article a {
    display: block;
}

.panel-body article input[type="range"] {
    vertical-align: middle;
}

.no-p-margin p {
    margin: 0 !important;
}

body.panel-open:not(.panel-horizontal) #ui {
    width: 70vw;
}

body.panel-open.panel-left:not(.panel-horizontal) #ui {
    left: 30vw;
    right: 0;
}

body.panel-open.panel-left:not(.panel-horizontal).panel-left-halfwidth #ui {
    left: 50vw;
    width: 50vw;
}

body.panel-open.panel-right:not(.panel-horizontal).panel-right-halfwidth #ui {
    right: 50vw;
    width: 50vw;
}

body.panel-left.panel-right:not(.panel-horizontal) #ui {
    left: 30vw;
    width: 40vw;
}

body.panel-left.panel-left-halfwidth.panel-right:not(.panel-horizontal) #ui {
    left: 50vw;
    width: 20vw;
}

body.panel-left.panel-right:not(.panel-horizontal).panel-right-halfwidth #ui {
    right: 50vw;
    width: 20vw;
}

/* CHAT */

.chat-wrapper {
    display: block;
    height: 99%;
}

.chat-wrapper ul.chat-body {
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100% - 4.25rem);
    font-family: Arial, Helvetica, sans-serif;
}

ul.chat-body li.chat-line {
    /*border:1px solid #000;*/
    line-height: 1.5em;
    border-bottom: 1px solid #bfbfbf;
    border-bottom: 1px solid var(--chat-separator-color);
    overflow: hidden;
}

ul.chat-body li.chat-line:nth-child(odd) {
    background-color: #d5d5d5;
    background-color: var(--chat-odd-background-color);
}

ul.chat-body li.chat-line:not(:last-child):not(:only-of-type) {
    padding: 5px 0;
}

li.chat-line span[title]:not(.text-badge) {
    border-bottom: 1px dashed #aaa;
    border-bottom: 1px dashed var(--chat-abbr-underline-color);
    cursor: default;
}

li.chat-line i[title] {
    padding-bottom: 1px;
}

li.chat-line .text-badge, header .text-badge {
    line-height: 1em;
    background-color: #ccc;
    background-color: var(--chat-badge-background-color);
    padding: .15em .5em;
    border-radius: 1em;
    color: #770;
    color: var(--chat-badge-text-color);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header .text-badge {
    background-color: #eee;
}

header .icon-badge {
    font-size:1rem;
}

header .icon-badge:only-of-type, header.text-badge:only-of-type, header .icon-badge:only-child, header .text-badge:only-child {
    margin-left: .15rem;
}

li.chat-line.server-action {
    text-align: center;
    font-weight: bold;
    color: #555;
    color: var(--chat-server-action-text-color);
    cursor: default;
}

li.chat-line .flairs .flair {
    margin-right: .25rem;
}

li.chat-line .user {
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 0 #ccc, -1px 1px 0 #ccc, 1px -1px 0 #ccc, -1px -1px 0 #ccc, 0 1px 0 #ccc, 0 -1px 0 #ccc, -1px 0 0 #ccc, 1px 0 0 #ccc;
    text-shadow: 1px 1px 0 var(--chat-user-text-shadow-color), -1px 1px 0 var(--chat-user-text-shadow-color), 1px -1px 0 var(--chat-user-text-shadow-color), -1px -1px 0 var(--chat-user-text-shadow-color), 0 1px 0 var(--chat-user-text-shadow-color), 0 -1px 0 var(--chat-user-text-shadow-color), -1px 0 0 var(--chat-user-text-shadow-color), 1px 0 0 var(--chat-user-text-shadow-color);
}

li.chat-line [data-action] {
    cursor: pointer !important;
}

li.chat-line .actions {
    margin: 0 .2em;
}

li.chat-line .actions [data-action]:not(:last-of-type):not(:only-child) {
    margin-right: .2em;
}

.chat-wrapper .chat-controls, .chat-wrapper .chat-hints {
    flex: 0;
    position: relative;
}

.chat-wrapper .chat-controls {
    height: 3rem;
    position: absolute;
    bottom: calc(5px + 1.25rem);
    width: calc(100% - 16px);
}

@keyframes banner-fade {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.chat-wrapper .bottom-banner {
    height: 1.25em;
    line-height: 1.25em;
    font-size: 1em;
    text-align: right;
    font-style: italic;
    opacity: 100%;
    overflow-y: hidden;
    text-align: center;
}

.chat-wrapper .bottom-banner.transparent {
    opacity: 0%;
}

.chat-wrapper .bottom-banner.fade {
    /* have to set animation-delay to 1ms here because our minifer is stripping 0 completely */
    animation: banner-fade 1s ease-out 1ms 1 normal none running;
}

.chat-wrapper .bottom-banner.fade-rev {
    /* have to set animation-delay to 1ms here because our minifer is stripping 0 completely */
    animation: banner-fade 1s ease-in 1ms 1 reverse none running;
}

.chat-wrapper .chat-hints {
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    bottom: 3.5rem;
    width: calc(100% - 16px);
    background-color: #555d;
    color: #ff8c00;
}

.chat-wrapper .chat-controls textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px 1.75rem 5px 5px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-trigger .has-notification, i.fas.has-notification, i.far.has-notification {
    color: #b20;
    color: var(--notification-color);
}

.chat-ratelimit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0009;
    color: #FFF;
    text-shadow: #000 0 0 2px;
    font-size: 1.5rem;
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    user-select: none;
}

#chat-hint {
    white-space: pre-wrap;
    word-break:break-all;
}

.chat-line.purged {
    font-style: italic;
    font-size: .9em;
    color: #888;
    color: var(--chat-purged-text-color);
    text-decoration: line-through;
}

#jump-to-bottom {
    text-align: center;
    color: #fff;
    line-height: 1.25rem;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    background-color: #66a;
    cursor: pointer;
    position: absolute;
    top: -1.25rem;
    left: 0;
    right: 0;
}

#jump-to-bottom:hover {
    background-color: #5c5ca0;
}

#emojiPanelTrigger {
    position: absolute;
    right: .5rem;
    top: .5rem;
    cursor: pointer;
    color: #aaa;
}
#emojiPanelTrigger:hover {
    color: #ccc;
}

.chat-line img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

#typeahead {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    margin-bottom: -1px;
    padding: 5px;
    background-color: #b9b9b9;
    background-color: var(--chat-typeahead-menu-background-color);
    border-radius: 5px 5px 0 0;
}

#typeahead ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#typeahead ul li {
    font-size: 1em;
    line-height: 1.5em;
    cursor: pointer;
    user-select: none;
    text-indent: .75em;
    background-color: #a3a3a3;
    background-color: var(--chat-typeahead-item-background-color);
    border-radius: 4px;
    padding: 3px;
    margin: 4px 0;
    color: inherit;
    color: var(--chat-typeahead-item-text-color);
}

#typeahead ul li:hover {
    background-color: #949494;
    background-color: var(--chat-typeahead-item-background-color-hover);
}

#typeahead ul li.active {
    background-color: #828282;
    background-color: var(--chat-typeahead-item-background-color-active);
}

/* PINGS */

/* NOTE ([  ]): this seems to not respond to css vars (at least on firefox when I tested it) so I'm leaving it fixed for now */
@keyframes -scrolled-flash {
    from {
        background-color: #feedd1;
    }
    to {
        background-color: #8ef7d1;
    }
}

ul.chat-body .chat-line[data-id].has-ping {
    background-color: #feedd1;
    background-color: var(--ping-highlight-color);
}

ul.chat-body .chat-line[data-id].has-ping.-scrolled-to {
    animation: -scrolled-flash 150ms linear 1ms 4 alternate;
}

.chat-history .chat-line {
    word-break: break-all;
}

ul.chat-history, ul.chatban-history {
    padding: 0;
    margin: 0;
    list-style: none;
}

.chatban-history li {
    margin: 7px;
    border-radius: 7px;
    background-color: rgba(177, 177, 177, 0.3);
    background-color: var(--mod-lookup-chatban-history-item-background-color);
    border: 1px solid #828282;
    border: 1px solid var(--mod-lookup-chatban-history-item-border-color);
}

.chatban-history h4 {
    margin: 0 0 1em 0;
    background-color: #82828233;
    background-color: var(--mod-lookup-chatban-history-item-heading-background-color);
    border-radius: 7px 7px 0 0;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.25em;
    border-bottom: 1px solid #828282;
    border-bottom: 1px solid var(--mod-lookup-chatban-history-item-border-color);
}

.chatban-history table {
    margin: 7px;
}

.chatban-history th {
    text-align: right;
    font-weight: bold;
    margin-right: .5em;
}


.panel-trigger .ping-counter {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-55%) translateX(-45%);
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffa500;
}

.panel-trigger:not(.has-ping) .ping-counter {
    display: none;
}

.panel-trigger.has-ping {
    margin-left: 6px;
}

.popup ul.pings-list {
    width: 100%;
    max-height: 73vh;
    list-style: none;
    margin: 0;
    padding: .5rem .5rem 0 .5rem;
    overflow-y: auto;
}

.popup .pings-list:empty::before {
    content: "No pings here";
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: .5;
}

.popup .pings-list li {
    font-family: monospace;
}

.username-color-picker {
    font-family: monospace;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 5px;
}

.username-color-picker.rainbow {
    background-color: black;
    text-shadow: 0 0 0.5em black;
    color: white;
}

@keyframes rainbow-transition-bg {
    0% { background-color: violet; }
    14% { background-color: #308dff; }
    28% { background-color: aqua; }
    42% { background-color: green; }
    56% { background-color: yellow; }
    70% { background-color: orange; }
    84% { background-color: red; }
    98%, 100% { background-color: violet; }
}

.username-color-picker option.rainbow {
    animation: rainbow-transition-bg 4s linear infinite;
    background-color: violet;
}

.user.rainbow {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    text-shadow: none !important;
}

/* preselecting body makes this a more specific selector than the built-in one which would normally override this since it's inline */
/* the same principle is why each of the following preselect .emoji-picker */
body .emoji-picker {
    z-index: 22;
    border: 1px solid #999999;
    border: 1px solid var(--emoji-picker-border-color);
    box-shadow: 0px 0px 3px 1px #CCCCCC;
    box-shadow: 0px 0px 3px 1px var(--emoji-picker-shadow-color);
    background: #FFFFFF;
    background: var(--emoji-picker-background-color);
}

.emoji-picker img.emoji {
    max-height: 1.3rem;
}

.emoji-picker .emoji-picker__search {
    padding-left: .5em;
}

.emoji-picker .emoji-picker__preview {
    padding-top: 1.75em;
    border-top: 1px solid #999999;
    border-top: 1px solid var(--emoji-picker-border-color);
}

.emoji-picker .emoji-picker__preview-name {
    color: #666666;
    color: var(--emoji-picker-preview-name-text-color);
}

.emoji-picker .emoji-picker__tab {
    color: inherit;
    color: var(--emoji-picker-tab-icon-color);
}

.emoji-picker .emoji-picker__tab.active {
    color: #4F81E5;
    color: var(--emoji-picker-tab-icon-color-selected);
    border-bottom: 3px solid #4F81E5;
    border-bottom: 3px solid var(--emoji-picker-tab-icon-color-selected);
}

.emoji-picker .emoji-picker__tab-body h2 {
    color: #333333;
    color: var(--emoji-picker-section-text-color);
}

.emoji-picker .emoji-picker__emoji {
    color: inherit;
    color: var(--emoji-picker-emoji-color);
    background: transparent;
    background: var(--emoji-picker-emoji-background);
}

.emoji-picker .emoji-picker__emoji:hover {
    background: #E8F4F9;
    background: var(--emoji-picker-emoji-background-hover);
}

.emoji-picker .emoji-picker__search-container input {
    border: 1px solid #CCCCCC;
    border: 1px solid var(--emoji-picker-search-input-border-color);
    background-color: #fff;
    background-color: var(--emoji-picker-emoji-search-input-background-color);
    color: #000;
    color: var(--emoji-picker-emoji-search-input-text-color);
}

.emoji-picker .emoji-picker__search-icon {
    color: #CCCCCC;
    color: var(--emoji-picker-search-icon-color);
}

.emoji-picker .emoji-picker__search-not-found {
    color: #666666;
    color: var(--emoji-picker-search-no-results-color);
}

.emoji-picker .emoji-picker__variant-overlay {
    background: rgba(0, 0, 0, 0.7);
    background: var(--emoji-picker-variant-overlay-background);
}

.emoji-picker .emoji-picker__variant-popup {
    background: #FFFFFF;
    background: var(--emoji-picker-variant-popup-background);
}

.emoji-picker .emoji-picker__variant-popup-close-button {
    color: inherit;
    color: var(--emoji-picker-variant-close-button-color)
}

/* CHAT ACTIONS POPUP */

.popup {
    position: absolute;
    z-index: 22;
    width: 100px;
    max-width: 200px;
    height: auto;
    background-color: #eee;
    background-color: var(--popup-background-color);
    border-radius: 5px;
    border: 1px solid #000;
    border: 1px solid var(--popup-border-color);
    font-size: 1rem !important;
    line-height: 1rem !important;
    overflow: hidden;
    color: inherit;
    color: var(--popup-text-color);
}

.popup.panels {
    width: 99%;
    max-height: 99vh;
    max-width: 400px;
    min-height: 200px;
    min-width: 300px;
    padding-bottom: .5rem;
}

.popup.panels .details-wrapper {
    width: 65%;
}

.popup.panels .actions-wrapper {
    width: 35%;
}

.popup.panels .pane {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.popup.panels .pane.pane-full {
    width: 100%;
}

.popup.panels header:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pane p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.pane ul.actions-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    max-height: 100%;
    max-width: 100%;
}

.pane ul.actions-list li[data-action] {
    border-bottom: 1px solid #000;
    border-bottom: 1px solid var(--popup-border-color);
    border-left: 1px solid #000;
    border-left: 1px solid var(--popup-border-color);
    flex: 1 0 2em;
    line-height: 2em;
    text-align: center;
    background-image: linear-gradient(0deg, #eee, #ccc, #eee);
    background: var(--pane-button-background);
    padding: 0 1em;
}

.pane ul.actions-list li[data-action]:hover {
    background-image: linear-gradient(0deg, #ddd, #bbb, #ddd);
    background: var(--pane-button-background-hover);
}

.pane ul.actions-list li[data-action]:not(:only-of-type):last-child {
    border-radius: 0 0 0 5px;
}

.pane ul.actions-list li[data-action]:hover {
    cursor: pointer;
}

.popup-timestamp-header {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #000;
    border-bottom: 1px solid var(--popup-border-color);
    text-align: center;
    color: #aaa;
    color: var(--popup-timestamp-text-color);
}

/* Settings tweaks */
#bubble-position {
    width: 0;
    grid-template: repeat(2, 1fr) / repeat(2, .5fr);
    display: grid;
}

#bubble-position label {
    position: relative;
    width: 55px;
    height: 30px;
}

#bubble-position label > input {
    visibility: hidden;
}

#bubble-position label > div {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #797979;
}

#bubble-position label:hover > div {
    border: 2px solid #6495ED;
    border: 2px solid var(--option-bubble-position-border-color-hovered);
    background-color: rgba(0, 0, 0, 0);
    background-color: var(--option-bubble-position-background-color-hovered);
}

#bubble-position label input:checked ~ div {
    background-color: #eee;
    background-color: var(--option-bubble-position-background-color-selected);
}

/* Chat settings tweaks */
.chat-settings-wrapper label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    margin: 6px 0;
}

.chat-settings-wrapper input:not([type=checkbox]) {
    border: 1px solid #888;
}

.d-block {
    display: block !important;
}

/* Notifications */
.notification {
    margin: 15px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    background-color: var(--notification-background-color);
    border: 1px solid #8f8f8f;
    border: 1px solid var(--notification-border-color);
}

.notification .notification-title {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    white-space: pre;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    background-color: #b8b8b8;
    background-color: var(--notification-title-background-color);
    border-bottom: 1px solid #8f8f8f;
    border-bottom: 1px solid var(--notification-border-color);
    color: inherit;
    color: var(--notification-title-text-color);
}

.notification .notification-footer {
    height: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: #666;
    color: var(--notification-footer-text-color);
    white-space: pre;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    background-color: #d6d6d6;
    background-color: var(--notification-footer-background-color);
    border-top: 1px solid #8f8f8f;
    border-top: 1px solid var(--notification-border-color);
    padding-right: .5rem;
}

.notification .notification-body {
    padding: 10px 5px;
    word-break: break-word;
    white-space: pre-wrap;
}

.notification-footer .notification-expiry {
    cursor: default;
    color: #b66;
    color: var(--notification-expiry-color);
    float: left;
    margin-left: .5rem;
}

/*//////////////////////////*\
| Modal
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/* https://github.com/kylefox/jquery-modal/blob/a8b9c9b01961c0a3c6676fcc8fe6cc5b8c74cb5c/jquery.modal.css */
.blocker {
    z-index: 99;
    padding: 0;
}

.modal {
    z-index: 100;
    width: initial;
    min-width: 10vw;
    max-width: 96vw;
    max-height: 99vh;
    background-color: #f5f5f5;
    background-color: var(--modal-background-color);
    padding: 0;
    outline: 0;
    color: inherit;
    color: var(--modal-text-color);
}

.modal a.close-modal {
    position: absolute;
    font-size: 1.25em;
    top: 0;
    right: 0;
    background: #660000;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: #eee;
    text-decoration: none;
    text-indent: 0;
    border-radius: 0 6px 0 12px;
    box-shadow: 1px 1px 5px #660000aa;
}

.modal .modal-footer {
    text-align: right;
}

.modal .close-modal {
    outline: none;
}

.modal .modal-header, .modal .modal-footer {
    margin: 0;
    padding: 5px 7px;
    min-height: 2em;
    background-color: #b8b8b8;
    background-color: var(--modal-headfoot-background-color);
}

.modal .modal-header {
    border-radius: 8px 8px 0 0;
}

.modal .modal-footer {
    border-radius: 0 0 8px 8px;
}

.modal .modal-body {
    padding: 15px 10px;
    max-width: 98vw;
    max-height: 88vh;
    overflow: auto;
}

.modal-title {
    text-align: center;
}

.modal-footer button {
    margin: 0 0 0 5px;
}

.modal-header h1, .modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5, .modal-header h6,
.modal-footer h1, .modal-footer h2, .modal-footer h3, .modal-footer h4, .modal-footer h5, .modal-footer h6
/*.modal-body p*/ {
    margin: 0;
    padding: 0;
}

/*//////////////////////////*\
| Mobile Styles
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.mobile-only {
    display: none;
}

@media (max-width: 1500px) {
    #donate, #donate > * {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .panel, .panel.half-width {
        max-width: 100% !important;
        width: 100% !important;
    }

    .panel.left {
        left: -105%;
    }

    .panel.right {
        right: -105%;
    }

    body.panel-open #ui {
        right: initial;
        width: initial;
        transition: none;
    }

    .mobile-only {
        display: initial;
    }

    .modal {
        min-width: 1vw;
        max-width: 95vw;
    }

    .palette {
        width: 100%;
    }

    .message {
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        width: 95%;
    }

    #chat-hint {
        font-size: .7rem;
    }

    #chat-ratelimit {
        font-size: 1rem;
    }

    #jump-to-bottom {
        line-height: 2rem;
        font-size: 1.25rem;
        top: -2rem;
    }

    .halves .side {
        flex: 1 0 100%;
    }

    .chat-lookup-side {
        max-height: initial;
    }
}
