/*
z-index:
 0 - canvas
 1 - grid
 2 - reticule
 3 - template
 6 - palette
 7 - timer
 8 - login overlay
 9 - ui blobs
10 - admin boxes
11 - drawer openers
12 - drawer

19 - drawer opener in mobile
20 - drawer in mobile mode
21 - panels
22 - lookup, emoji-picker
22 - admin-check popup

98 - lost connection
99 - alert box
*/

/*//////////////////////////*\
| General Styles
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #CDCDCD;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-clear {
    clear: both !important;
}

.hidden {
    display: none !important;
}

a, a:hover, a:visited, a:active, .link, .link:hover, .link:active {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

kbd {
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: black;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    margin: 0 .1em .1em .1em;
    padding: .1em .7em;
    text-indent: 0;
    cursor: default;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#reconnecting {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100vw;
    background: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
    font-weight: 800;
    color: #fff;
    font-size: 25px;
}

.indent-1 {
    text-indent: 0.75em;
}

.vertical-spacing {
    margin-top: .5em;
    margin-bottom: .5em;
}

.fake-indent {
    margin-left:1.2rem;
}

input:disabled {
    cursor: not-allowed;
}

.longTextInputWrapper {
    max-width: 100% !important;
}

.longTextInputWrapper > input[type='text'] {
    width: 100% !important;
    margin-bottom: 2px;
}

.useMono {
    font-family: monospace;
}

.icon-lock {
    max-height: .95em;
    position: relative;
    top: 2px;
}

dt:not(:first-of-type) {
    margin-top: 1rem;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
}

dd a {
    display: inline !important;
}

@keyframes rainbow-move {
    0% {
        background-position: 5px 0%;
    }
    100% {
        background-position: -500px 0%;
    }
}

.rainbow {
    background-image: linear-gradient(45deg, violet, #308dff, cyan, green, yellow, orange, red, orange, yellow, green, cyan, #308dff, violet, violet);
    background-size: 500px 100%;
    animation: rainbow-move 4s linear 1ms infinite;
    transform: rotateZ(360deg); /* force rainbow rendering onto GPU if available */
}

/*//////////////////////////*\
| Overlays
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444;
    z-index: 999;
}

#loading span {
    text-align: center;
    font-size: 36px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message {
    padding: 30px 30px 10px;
    border-radius: 7px;
    background-color: #fff;
    color: #333;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    max-width: 40%;
    min-width: 20%;
    z-index: 99;

    position: fixed;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message .buttons {
    margin-top: 1em;
    text-align: right;
}

.button {
    cursor: pointer;
    margin-top: 6px;
    margin-right: 4.5px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #999;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #ddd;
    color: #000;
}

.button.dark {
    background-color: #444;
    border: 1px solid #222;
    color: #fff;
}

button.button:disabled {
    cursor: not-allowed;
    border: 1px solid #777;
    background-color: #aaa;
    color: #555;
}

button.button.dark:disabled {
    cursor: not-allowed;
    background-color: #222;
    border: 1px solid #000;
    color: #444;
}

#lookup {
    top: 50px;
    right: 16px;
    z-index: 22;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 16px;
    max-width: 300px;

    position: fixed;
}

#lookup .content > div:not(:first-of-type) {
    margin-top: 10px;
}

#lookup .report-button {
    background-color: #e20;
    color: #fff;
}

#lookup .report-button:hover {
    background-color: #f10;
}

.button:hover {
    color: #fff;
    background: #ce4747;
}

.content {
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.palette-number {
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #000;
    width: 2em;
    font-size: .75em;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#palette.no-pills .palette-number {
    display: none !important;
}

/* moderator action popup styles */
.chatmod-container th {
    text-align: right;
    margin-right: .25rem;
}

.chatmod-container th[title] {
    border-bottom: 1px dashed #666;
}

.chatmod-container .error-label {
    font-size: .8rem;
    color: #e00;
    font-weight: bold;
    text-indent: 1rem;
}

.chatmod-container h3 {
    text-align: center;
}

.chatmod-container h5 {
    margin-left: -1.25rem;
}

.chatmod-container .buttons {
    text-align: right;
}

.chatmod-container .buttons button {
    position: initial;
    margin-right: .25rem;
}

.chatmod-container textarea {
    width: 100%;
    border: 1px solid #999;
}

.chatmod-container input[type=text] {
    width: 100%;
}

.chatmod-container label:not(.inline) {
    display: block;
}

.chatmod-container select, .chatmod-container input:not([type=check]):not([type=radio]) {
    display: block;
    width: 100%;
    padding: 5px;
    border: 1px solid #999;
    font-family: monospace;
    font-size: 1.5rem;
    border-radius: 3px;
}

/*//////////////////////////*\
| Info / Template Drawer
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.drawer {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 12;

    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: none !important;
}

.drawer-content {
    transform: translateZ(+1em);
    transform-style: preserve-3d;
    margin: 0;
    padding: 5px 10px 75px 10px;
    width: 100%;
    background: #333;
    display: none;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.drawer.open {
    transform: translateY(0);
}

.drawer.open > .drawer-content {
    display: flex;
    flex-wrap: wrap;
}

.drawer > .open {
    position: fixed;
    transform: translateZ(-1em);
    transform-style: preserve-3d;
    z-index: 11;
    top: 99.9%; /* I hate it, but it works. */
    background: #333;
    padding: 10px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}

.drawer-content > div:not(.close) {
    position: initial;
    flex: 1 1 auto;
    padding: 3px;
    margin: 3px;
}

#info > .open {
    left: 0;
    width: 50px;
    border-radius: 0 0 5px 0;
}

#template-control > .open {
    right: 0;
    width: 100px;
    border-radius: 0 0 0 5px;
}

.drawer div {
    display: inline-block;
    color: #fff;
    vertical-align: top;
}

.drawer-content > .close {
    font-weight: 800;
    padding: 5px;
    cursor: pointer;
    color: #7BCDFC;
    display:block;
    width: 100%;
}

.drawer-content > div {
    text-align: left;
}

.drawer-content > div h1 {
    margin: 0 0 10px 0;
    font-size: 25px;
    border-bottom: 2px solid #fff;
    position: relative;
    font-weight: bolder;
    padding: 5px;
}

.drawer-content > div p,
.drawer-content > div a,
.drawer-content > div ol {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    max-width: 350px;
}

.drawer-content > div > * {
    margin-left: 1px;
}

.drawer-content form {
    margin-top: 10px;
    display: inline-block;
}

#info .drawer-content div[id*="bitcoin"] {
    margin-top: 7px;
    margin-left: 10px;
    display: inline-block;
}

#info .drawer-content div[id*="bitcoin"] a {
    display: inline-block;
}

#donate, #donate > * {
    max-width: 600px;
}

/* menu-style drawer */
#drawers-opener {
    display: none;
    position: fixed;
    right: 0;
    z-index: 19;
    margin: 0;
    padding: 0;
    color: #fff;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

#drawers-opener.open {
    transform: translateY(0);
}

#drawers-opener-content {
    margin: 0;
    padding: 10px;
    background: #333;
    border-radius: 0 0 0 5px;
}

#drawers-opener-content > div {
    cursor: pointer;
    font-weight: 700;
    padding: 2px;
}

#drawers-opener > .open {
    position: fixed;
    z-index: 19;
    top: 100%;
    background: #333;
    padding: 10px;
    cursor: pointer;
    right: 0;
    width: 32px;
    height: 32px;
    background: url("menu.png") #333;
    border-radius: 0 0 0 5px;
}


/*//////////////////////////*\
| UI
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#ui {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: width ease-in-out .25s, left ease-in-out .25s;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    cursor: default;
    z-index: 9;
    display: flex;
    flex-direction: column;
}

#ui > * {
    position: relative;
    pointer-events: none;
}

#ui > * > * {
    pointer-events: all;
}

#ui .bubble {
    position: absolute;
    display: inline-block;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: #fff;
}

#ui-top {
    height: 100%;
}

#ui #loading-bubble.bubble {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(251, 106, 0, 0.7);
    display: none;
}

#ui #loading-bubble .loading-bubble-item {
    display: none;
}

#main-bubble[position~="top"] {
    top: 4rem;
}

#main-bubble[position~="left"] {
    left: 1rem;
}

#main-bubble[position~="bottom"] {
    bottom: 1rem;
}

#main-bubble[position~="right"] {
    right: 1rem;
}

#main-bubble a {
    pointer-events: auto;
}

#ui-bottom {
    z-index: 6;
    width: 100%;
    left: 0;
}

.palette-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    font-weight: 700;
    z-index: 9;

    display: flex;
    align-items: center;
    justify-content: center;
}

#palette {
    position: relative;
    z-index: 6;
    padding: 15px 0 7px;
    margin: 0 auto;

    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.8);

    /* Scrollbar, Firefox only */
    scrollbar-width: thin;
    scrollbar-color: #aaa transparent;
}

/* Scrollbar, Chrome only */
#palette::-webkit-scrollbar {
    height: 6px;
}
#palette::-webkit-scrollbar-track {
    background-color: transparent;
}
#palette::-webkit-scrollbar-thumb {
    background-color: #aaa;
}
#palette::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.palette-color {
    display: inline-block;

    min-width: 32px;
    min-height: 32px;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    bottom: 0;
}

.palette-color:first-child {
    margin-left: 10px;
}

.palette-color.active,
.palette-color.no-touch:hover {
    position: relative;
    bottom: 7px;
}

.palette-color.deselect-button {
    font-size: 1.75rem;
    position: relative;
    bottom: 4px;
    left: 4px;
}

.palette-color.deselect-button.active {
    bottom: 11px;
}

.palette-color.no-border {
    border: none;
}

#reticule {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: content-box;
}

#cursor {
    position: fixed;
    top: 20px;
    left: 10px;

    width: 36px;
    height: 36px;
    border: 2px solid black;
    border-radius: 3px;
}

body:not(.show-placeable-bubble) #placeableInfoBubble {
    display: none;
}

#placeableCount-cursor {
    position: absolute;
    min-width: 24px;
    height: 24px;
    transform: translate(15px, 20px);
    line-height: 24px;
    border-radius: 16px;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 0 8px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

#undo {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to top, #FFFC, #FFF);
    transition: height .25s ease-in-out;
    height: 0px;
    flex-flow: column;
    justify-content: center;
    cursor: pointer;
    display: flex;
    color: #000;
    font-weight: bold;
    font-size: 1.25em;
}

#undo.open {
    border-top: 1px solid #000;
    height: 2em;
}

#undo > span {
    transition: opacity .2s linear;
}

#undo:not(.open) > span {
    opacity: 0;
}

#reticule, #cursor {
    pointer-events: none;
    will-change: transform;
    z-index: 2;
}

.coords {
    transition: 0.2s;
}

.copyPulse {
    color: rgba(0, 211, 221, 0.7);
}

.userinfo .logout {
    font-size: 0.75em;
    text-decoration: underline;
}

input[type="text"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.error {
    color: #cc3333;
    font-weight: 700;
}

.ban-alert-content > p:not(:nth-last-of-type(2)) {
    margin: 0;
}

.ban-alert-content > p:nth-last-of-type(2) {
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 0;
}


/*//////////////////////////*\
| reCaptcha
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.g-recaptcha {
    display: none;
}

.grecaptcha-badge {
    bottom: 64px !important;
}

/*//////////////////////////*\
| Board Stuff
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#heatmap {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#virginmap {
    position: absolute;
    pointer-events: none;
    user-select: none;
}

#board-container {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

#board-zoomer {
    flex: 0 0 100px;
}

#board {
    display: block;
}

.noselect {
    /* don't allow selecting them */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.pixelate {
    /* and actually pixelate them */
    image-rendering: optimizeSpeed; /* Legal fallback */
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#board-template {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
}

#grid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 110vw;
    height: 110vh;
    pointer-events: none;
    background-image: linear-gradient(to right, #aaa 1px, transparent 1px), linear-gradient(to bottom, #aaa 1px, transparent 1px);
}

#settings .settingToggles > * {
    margin: 3px 0;
}

#settings .settingToggles > label {
    display: block;
}

#settings input.small-input {
    width: 6em;
}
#settings input[disabled] {
    opacity: 0.5;
}

#template-image-error-warning {
    margin-bottom: 0.5em;
    display: inline-block;
}

/*//////////////////////////*\
| Button Bar
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.ButtonBar {
    display: flex !important;
}
.ButtonBar.inline {
    display: flex !important;
}
.ButtonBar > button {
    flex: 1 0 auto;
    padding: 5px;
    margin: 0;
    border-width: 1px;
    border-radius: 0;
}
.ButtonBar > button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.ButtonBar > button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*//////////////////////////*\
| Panels
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

header {
    display: flex;
    height: 2.5rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #000;
    padding: 0 1rem;
    background-image: linear-gradient(to bottom, #ccc, #bbb);
    user-select: none;
    z-index: 18;
}

header.transparent {
    background-image: none;
    background-color: #fff0;
    border: 0;
}

header .fas {
    font-size: 2rem;
    margin-top: .2rem;
    cursor: pointer;
}

header.slim {
    height: 1.75rem;
    line-height: 1.75rem;
}

header.no-border {
    border: none !important;
}

header >.left, header >.right, header >.mid {
    z-index: 18;
}

header >.left, header >.right {
    flex: 0 1 auto;
}

header >.left {
    margin-left: initial;
    margin-right: auto;
}

header >.right {
    margin-left:auto;
    margin-right: initial;
}

header >.mid {
    flex: 0 1 auto;
}

header h1, header h2, header h3, header h4, header h5, header h6 {
    margin: 0;
    padding: 0;
}

.fas.fa-is-left, .far.fa-is-left {
    margin-right: .25rem;
}

.fas.fa-is-right, .far.fa-is-right {
    margin-left: .25rem;
}

.fa-1x {
    font-size: 1rem !important;
}

.fa-1_5x {
    font-size: 1.5rem !important;
}

.text-blue {
    color: #00a;
}

.text-green {
    color: #0a0;
}

.text-red {
    color: #a00;
}

.text-muted {
    color: #8c8c8c;
}

.text-yellow {
    color: #f0ff27;
}

.text-orange {
    color: #e67700;
}

aside.panel {
    position: fixed;
    top: 0;
    max-width: 50%;
    min-width: 30%;
    width: 30%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    box-shadow: 0 0 10px 5px #0009;
    background-color: #dfdfdf;
    z-index: 21;
    cursor: initial !important;
}

.panel.half-width {
    width: 50% !important;
}

.panel header {
    border-bottom: 1px solid #000;
}

.panel.left {
    right: initial;
    transition: left ease-in-out .25s;
    left: -55%;
}

.panel.left.open, .panel.left[data-state=open] {
    left: 0;
}

.panel.right {
    left: initial;
    transition: right ease-in-out .25s;
    right: -55%;
}

.panel.right.open, .panel.right[data-state=open] {
    right: 0;
}

.panel-body {
    padding: 0 .5rem;
    overflow: auto;
    position: absolute;
    top: 2.65rem;
    bottom: 0;
    word-wrap: break-word;
    width: 100%;
}

.panel-trigger {
    color: #000;
    position: relative;
    /* AAAAAAAAAAAAAAAAAAAAAAAAAAA */
    text-shadow: 1px 1px 0 #AAA, -1px 1px 0 #AAA, 1px -1px 0 #AAA, -1px -1px 0 #AAA, 0px 1px 0 #AAA, 0px -1px 0 #AAA, -1px 0px 0 #AAA, 1px 0px 0 #AAA;
    display: inline-block;
    cursor: pointer;
}

.panel-trigger:hover {
    color: #333;
}

.panel-trigger:active {
    color: #555;
}

.panel-trigger .fas, .panel-trigger .far, .panel-trigger .fal {
    font-size: 2.5rem;
}

article .body {
    padding: .5rem;
}

.panel-body article:not(:last-of-type) {
    margin-bottom: 1rem;
}
.panel-body article:first-of-type {
    margin-top: .5rem;
}
.panel-body article:last-of-type {
    margin-bottom: .5rem;
}

.panel-body article:not(.naked) {
    border: 1px solid #000;
    background-color: #0002;
}

.panel-body article p {
    padding: 0;
    margin: .5rem 0;
}

.panel-body article h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    width:  100%;
}

.panel-body article hr {
    height: 1px;
    border: none;
    margin: 0;
    background-image: linear-gradient(to right, #000, #888, #000);
}

.panel-body article .pad-wrapper {
    padding: .5rem;
}

.panel-body article a {
    display: block;
}

.panel-body article input[type="range"] {
    vertical-align: middle;
}

.no-p-margin p {
    margin: 0 !important;
}

body.panel-open #ui {
    width: 70vw;
}

body.panel-open.panel-left #ui {
    left: 30vw;
    right: 0;
}

body.panel-open.panel-left.panel-left-halfwidth #ui {
    left: 50vw;
    width: 50vw;
}

body.panel-open.panel-right.panel-right-halfwidth #ui {
    right: 50vw;
    width: 50vw;
}

body.panel-left.panel-right #ui {
    left: 30vw;
    width: 40vw;
}

body.panel-left.panel-left-halfwidth.panel-right #ui {
    left: 50vw;
    width: 20vw;
}

body.panel-left.panel-right.panel-right-halfwidth #ui {
    right: 50vw;
    width: 20vw;
}

/* CHAT */

.chat-wrapper {
    display: block;
    height: 99%;
}

.chat-wrapper ul.chat-body {
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    height: calc(100% - 4.25rem);
    font-family: Arial, Helvetica, sans-serif;
}

ul.chat-body li.chat-line {
    /*border:1px solid #000;*/
    line-height: 1.5rem;
    border-bottom: 1px solid #bfbfbf;
    overflow: hidden;
}

ul.chat-body li.chat-line:nth-child(odd) {
    background-color: #d5d5d5;
}

ul.chat-body li.chat-line:not(:last-child):not(:only-of-type) {
    padding: 5px 0;
}

ul.chat-body li.chat-line:nth-child(odd) {
    /*background-image: linear-gradient(to bottom, #0000, #0005, #0000);*/
}

li.chat-line span[title]:not(.text-badge) {
    border-bottom: 1px dashed #aaa;
    cursor: default;
}

li.chat-line i[title] {
    padding-bottom: 1px;
}

li.chat-line .text-badge, header .text-badge {
    line-height: 1rem;
    background-color: #ccc;
    padding: .15rem .5rem;
    border-radius: 1rem;
    color: #770;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header .text-badge {
    background-color: #eee;
}

header .icon-badge {
    font-size:1rem;
}

header .icon-badge:only-of-type, header.text-badge:only-of-type, header .icon-badge:only-child, header .text-badge:only-child {
    margin-left: .15rem;
}

li.chat-line.server-action {
    text-align: center;
    font-weight: bold;
    color: #555;
    cursor: default;
}

li.chat-line .text-badge:not(:last-child):not(:only-of-type) {
    margin-right: .25rem;
}

li.chat-line .badges {
    margin-right: .25rem;
}

li.chat-line .user {
    font-weight: bold;
    cursor: pointer;
    text-shadow: 1px 1px 0 #ccc, -1px 1px 0 #ccc, 1px -1px 0 #ccc, -1px -1px 0 #ccc, 0 1px 0 #ccc, 0 -1px 0 #ccc, -1px 0 0 #ccc, 1px 0 0 #ccc;
}

li.chat-line [data-action] {
    cursor: pointer !important;
}

li.chat-line .actions {
    margin: 0 .2em;
}

li.chat-line .actions [data-action]:not(:last-of-type):not(:only-child) {
    margin-right: .2em;
}

.chat-wrapper .chat-controls, .chat-wrapper .chat-hints {
    flex: 0;
    position: relative;
}

.chat-wrapper .chat-controls {
    height: 3rem;
    position: absolute;
    bottom: calc(5px + 1.25rem);
    width: calc(100% - 16px);
}

@keyframes banner-fade {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

.chat-wrapper .bottom-banner {
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 1rem;
    text-align: right;
    font-style: italic;
    opacity: 100%;
}

.chat-wrapper .bottom-banner.transparent {
    opacity: 0%;
}

.chat-wrapper .bottom-banner.fade {
    /* have to set animation-delay to 1ms here because our minifer is stripping 0 completely */
    animation: banner-fade 1s ease-out 1ms 1 normal none running;
}

.chat-wrapper .bottom-banner.fade-rev {
    /* have to set animation-delay to 1ms here because our minifer is stripping 0 completely */
    animation: banner-fade 1s ease-in 1ms 1 reverse none running;
}

.chat-wrapper .chat-hints {
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: bold;
    position: absolute;
    bottom: 3.5rem;
    width: calc(100% - 16px);
    background-color: #555d;
    color: #ff8c00;
}

.chat-wrapper .chat-controls textarea {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-trigger .has-notification, i.fas.has-notification, i.far.has-notification {
    color: #b20;
}

.chat-ratelimit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0009;
    color: #FFF;
    text-shadow: #000 0 0 2px;
    font-size: 1.5rem;
    display: inline-flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    user-select: none;
}

#chat-hint {
    white-space: pre-wrap;
    word-break:break-all;
}

.chat-line.purged {
    font-style: italic;
    font-size: .9em;
    color: #888;
    text-decoration: line-through;
}

#jump-to-bottom {
    text-align: center;
    color: #fff;
    line-height: 1.25rem;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    background-color: #66a;
    cursor: pointer;
    position: absolute;
    top: -1.25rem;
    left: 0;
    right: 0;
}

#jump-to-bottom:hover {
    background-color: #5c5ca0;
}

#emojiPanelTrigger {
    position: absolute;
    right: .5rem;
    top: .5rem;
    cursor: pointer;
    color: #aaa;
}
#emojiPanelTrigger:hover {
    color: #ccc;
}

.chat-line img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

#typeahead {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3rem;
    margin-bottom: -1px;
    padding: 5px;
    background-color: #b9b9b9;
    border-radius: 5px 5px 0 0;
}

#typeahead ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#typeahead ul li {
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;
    user-select: none;
    text-indent: .75rem;
    background-color: #a3a3a3;
    border-radius: 4px;
    padding: 3px;
    margin: 4px 0;
}

#typeahead ul li:hover {
    background-color: #949494;
}

#typeahead ul li.active {
    background-color: #828282;
}

/* PINGS */

@keyframes -scrolled-flash {
    from {
        background-color: #feedd1;
    }
    to {
        background-color: #8ef7d1;
    }
}

ul.chat-body .chat-line[data-nonce].has-ping {
    background-color: #feedd1;
}

ul.chat-body .chat-line[data-nonce].has-ping.-scrolled-to {
    animation: -scrolled-flash 150ms linear 1ms 4 alternate;
}

.panel-trigger .ping-counter {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-55%) translateX(-45%);
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffa500;
}

.panel-trigger:not(.has-ping) .ping-counter {
    display: none;
}

.panel-trigger.has-ping {
    margin-left: 6px;
}

.popup ul.pings-list {
    width: 100%;
    max-height: 73vh;
    list-style: none;
    margin: 0;
    padding: .5rem .5rem 0 .5rem;
    overflow-y: auto;
}

.popup .pings-list:empty::before {
    content: "No pings here";
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    opacity: .5;
}

.popup .pings-list li {
    font-family: monospace;
}

.username-color-picker {
    font-family: monospace;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 5px;
}

.username-color-picker.rainbow {
    background-color: black;
    text-shadow: 0 0 0.5em black;
    color: white;
}

@keyframes rainbow-transition-bg {
    0% { background-color: violet; }
    14% { background-color: #308dff; }
    28% { background-color: aqua; }
    42% { background-color: green; }
    56% { background-color: yellow; }
    70% { background-color: orange; }
    84% { background-color: red; }
    98%, 100% { background-color: violet; }
}

.username-color-picker option.rainbow {
    animation: rainbow-transition-bg 4s linear infinite;
    background-color: violet;
}

.user.rainbow {
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    text-shadow: none !important;
}

.emoji-picker {
    z-index: 22;
}

.emoji-picker img.emoji {
    max-height: 1.3rem;
}

.emoji-picker .emoji-picker__search {
    padding-left: .5em;
}

.emoji-picker .emoji-picker__preview {
    padding-top: 1.75em;
}

/* CHAT ACTIONS POPUP */

.popup {
    position: absolute;
    z-index: 22;
    width: 100px;
    max-width: 200px;
    height: auto;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 1rem !important;
    line-height: 1rem !important;
    overflow: hidden;
}

.popup.panels {
    width: 99%;
    max-height: 99vh;
    max-width: 400px;
    min-height: 200px;
    min-width: 300px;
    padding-bottom: .5rem;
}

.popup.panels .details-wrapper {
    width: 65%;
}

.popup.panels .actions-wrapper {
    width: 35%;
}

.popup.panels .pane {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.popup.panels .pane.pane-full {
    width: 100%;
}

.popup.panels header:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pane p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.pane ul.actions-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    max-height: 100%;
    max-width: 100%;
}

.pane ul.actions-list li[data-action] {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    flex: 1 0 2em;
    line-height: 2em;
    text-align: center;
    background-image: linear-gradient(0deg, #eee, #ccc, #eee);
    padding: 0 1em;
}

.pane .chat-timestamp-header {
    margin: 8px 0;
    text-align: center;
    color: #aaa;
 }

.pane ul.actions-list li[data-action]:hover {
    background-image: linear-gradient(0deg, #ddd, #bbb, #ddd);
}

.pane ul.actions-list li[data-action]:not(:only-of-type):last-child {
    border-radius: 0 0 0 5px;
}

.pane ul.actions-list li[data-action]:hover {
    cursor: pointer;
}

.popup ul.popup-actions {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup ul.popup-actions li:not(.separator) {
    cursor: pointer;
    padding: 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup ul.popup-actions li.separator {
    border-radius: 0 !important;
    height: 1px;
    background-color: #fff0;
    background-image: linear-gradient(to right, #000, #333, #000);
}

.popup ul.popup-actions li:not(:only-of-type) {
    border-radius: 0;
}

.popup ul.popup-actions li:first-of-type {
    border-radius: 5px 5px 0 0;
}

.popup ul.popup-actions li:last-of-type {
    border-radius: 0 0 5px 5px;
}

.popup ul.popup-actions li:only-of-type {
    border-radius: 5px;
}

.popup ul.popup-actions li:not(.separator):hover {
    background-color: #fff;
}

.popup ul.popup-actions li:not(.separator):active {
    background-color: #f8f8f8;
}

.popup-timestamp-header {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #000;
    text-align: center;
    color: #aaa;
}

/* Settings tweaks */
#bubble-position {
    width: 0;
    grid-template: repeat(2, 1fr) / repeat(2, .5fr);
    display: grid;
}

#bubble-position label {
    position: relative;
    width: 55px;
    height: 30px;
}

#bubble-position label > input {
    visibility: hidden;
}

#bubble-position label > div {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #797979;
}

#bubble-position label:hover > div {
    border: 2px solid #6495ED;
}

#bubble-position label input:checked ~ div {
    background-color: #eee;
}

/* Chat settings tweaks */
.chat-settings-wrapper label {
    display: block;
    cursor: pointer;
    user-select: none;
    margin: 6px 0;
}

.chat-settings-wrapper input:not([type=checkbox]) {
    border: 1px solid #888;
}

/* Notifications */
.notification {
    margin: 15px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #8f8f8f;
}

.notification .notification-title {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    white-space: pre;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    background-color: #b8b8b8;
    border-bottom: 1px solid #8f8f8f;
}

.notification .notification-footer {
    height: 2rem;
    line-height: 2rem;
    font-size: .75rem;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: #666;
    white-space: pre;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    background-color: #d6d6d6;
    border-top: 1px solid #8f8f8f;
    padding-right: .5rem;
}

.notification .notification-body {
    padding: 10px 5px;
    word-break: break-word;
    white-space: pre-wrap;
}

.notification-footer .notification-expiry {
    cursor: default;
    color: #b66;
    float: left;
    margin-left: .5rem;
}

/*//////////////////////////*\
| Mobile Styles
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.mobile-only {
    display: none;
}

@media (max-width: 1500px) {
    #donate, #donate > * {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .mobile-only {
        display: initial;
    }

    .palette {
        width: 100%;
    }

    #drawers-opener {
        display: inline-block;
    }

    .drawer > .open {
        display: none;
    }

    .drawer, .drawer > .drawer-content {
        z-index: 20;
        width: 100vw;
        height: 100vh;
    }

    .drawer.open, .drawer.open > .drawer-content {
        position: fixed;
        left: 0;
        top: 0;
    }

    .drawer-content > div:not(.close) {
        border: 1px solid #fff;
    }

    .message {
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        width: 95%;
    }

    .panel, .panel.half-width {
        max-width: 100% !important;
        width: 100% !important;
    }

    .panel.left {
        left: -105%;
    }

    .panel.right {
        right: -105%;
    }

    body.panel-open #ui {
        right: initial;
        width: initial;
        transition: none;
    }

    #ui #main-bubble {
        top: 4rem;
        bottom: initial;
        left: 1rem;
        right: initial;
    }

    #bubble-position {
        opacity: .5;
    }

    #chat-hint {
        font-size: .7rem;
    }

    #chat-ratelimit {
        font-size: 1rem;
    }

    #jump-to-bottom {
        line-height: 2rem;
        font-size: 1.25rem;
        top: -2rem;
    }
}
