html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.palette {
    position: absolute;
    bottom: 16px;
    padding: 0 32px;
    width: 100%;

    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
}

.palette-color {
    display: inline-block;

    min-width: 32px;
    min-height: 32px;
    border: 1px solid black;
    margin-right: 8px;
    cursor: pointer;
}

.board-container {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.board-zoomer {
    flex: 0 0 100px;
}

.board-mover {
    background-color: #fff;
}

.board {
    display: block;
}

#board {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

.reticule {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 1;
    border: 1px solid black;
    pointer-events: none;
    will-change: transform;
}

.cursor {
    width: 36px;
    height: 36px;
    border: 1px solid black;

    pointer-events: none;
    will-change: transform;
    z-index: 1;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444;
    z-index: 99999;
}

.loading span {
    text-align: center;
    font-size: 36px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui {
    z-index: 999;
}

.cooldown-timer {
    position: absolute;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);

    padding: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    color: white;
    font-size: 24px;

    pointer-events: none;
    user-select: none;
    z-index: 999;
}

.message {
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 50%;
    text-align: center;
    z-index: 999;

    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
}

.message .close {
    cursor: pointer;
    float: right;
}

.coords {
    position: absolute;
    bottom: 16px;
    left: 32px;

    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
}

.online {
    position: absolute;
    bottom: 16px;
    right: 32px;

    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
}

.bubble-container {
    position: absolute;
    top: 32px;
    left: 32px;
}

.bubble {
    margin: 8px;
    width: 128px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
    text-align: center;
}

.bubble a:visited, a:link, a:active, a:hover {
    color: #fff;
}

.donate {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 999;
}

.grid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 110vw;
    height: 110vh;
    pointer-events: none;
    background-image: linear-gradient(to right, #aaa 1px, transparent 1px), linear-gradient(to bottom, #aaa 1px, transparent 1px);
}

.instructions {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
}

.g-recaptcha {
    display: none;
}

.grecaptcha-badge {
    bottom: 64px !important;
}

@media (max-width: 768px) {
    .bubble-container {
        display: none;
    }

    .coords {
        top: 16px;
        left: 16px;
        bottom: auto;
        right: auto;
    }

    .online {
        top: 64px;
        left: 16px;
        bottom: auto;
        right: auto;
    }

    .instructions {
        display: none;
    }
}