/*//////////////////////////*\
| Admin Box
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.admin {
    position: absolute;
    top: 40vh;
    background: #333;
    color: #fff;
    width: 210px;
    padding: 10px;
    border-radius: 0 5px 5px 0;

    left: -180px;
    transition: left 0.2s ease-out;
}

.admin:hover {
    left: 0;
}

.admin > h1 {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    transform: rotate(-90deg);
    position: absolute;
    top: 5px;
    left: 172px;
}

.admin-lookup {
    border-radius: 0 8px 8px 8px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 16px;

    position: absolute;
    z-index: 999;
}

.admin-lookup-msg {
    width: 100%;
    margin-top: 6px;
}