/*//////////////////////////*\
| Admin Box
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.admin {
    position: absolute;
    top: 40vh;
    background: #333;
    color: #fff;
    width: 210px;
    padding: 10px;
    border-radius: 0 5px 5px 0;

    left: -180px;
    transition: left 0.2s ease-out;
}

.admin:hover {
    left: 0;
}

.admin > h1 {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    transform: rotate(-90deg);
    position: absolute;
    top: 5px;
    left: 172px;
}

.admin-check {
    border-radius: 0 8px 8px 8px;
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 16px;

    position: fixed;

    z-index: 22;
}
.admin-check {
    top: 45vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-bottom: 60px;
}

.admin input[type=text] {
    width: 80%;
    margin-top: 4px;
}

.admin-lookup-msg {
    width: 100%;
    margin-top: 6px;
}

.admin-bannumber {
    -moz-appearance: textfield;
    width: 40px;
}
.admin-bannumber::-webkit-outer-spin-button,
.admin-bannumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
