/*//////////////////////////*\
| Admin Box
\*\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.admin {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: -180px;
    width: 210px;
    min-height: 62px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    transition: left 0.2s ease-out;
    transform: translateY(-50%);
}

.admin:hover {
    left: 0;
}

.admin > div {
    visibility: hidden;
}

.admin:hover > div {
    visibility: visible;
}

.admin > h2 {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    transform: rotate(-90deg);
    position: absolute;
    top: 5px;
    left: 172px;
}

.admin label {
    display: block;
}

.admin input[type=text] {
    width: 80%;
    margin-top: 4px;
}

.admin-bannumber {
    -moz-appearance: textfield;
    width: 40px;
}
.admin-bannumber::-webkit-outer-spin-button,
.admin-bannumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
